In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
from census import Census
from pprint import pprint
# import gmaps

# Google API Key
from config import gkey

In [30]:
# # geocoordinates
# # uses the census api to generate 20 different citties baised on the peramiters that the cities have to be a certain size
# # use those 20 citities to run through the df and from there build the analysis
# target_coordinates = "33.7537, -84.3863"
# # target_coordinates = "43.6187102, -116.2146068"
# # target_search = "mexican"
# target_search = "restaurant"
# # meters is the units
# target_radius = 30000
# target_type = "restaurant"

# # set up a parameters dictionary
# params = {
#     "location": target_coordinates,
#     "keyword": target_search,
#     "radius": target_radius,
#     "type": target_type,
#     "key": gkey
# }

# # base url
# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# # frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# # run a request using our params dictionary
# response = requests.get(base_url, params=params)

In [31]:
# print the response url, avoid doing for public github repos in order to avoid exposing key
# print(response.url)

In [32]:
# # convert response to json
# places_data = response.json()
    
# # Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))
# # places_data_json = pd.read_json('base_url')

In [33]:
# # trying to expand past the first 20 search options
# places_data["next_page_token"]
# params['page_token'] = places_data['next_page_token']
# response = requests.get(base_url, params=params)
# convert response to json
# places_data = response.json()
    
# # Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

In [34]:
# len(places_data["results"])

In [35]:
# name = []
# rating = []
# user_ratings_total = []
# latitude = []
# longitude = []
# business_status = [] 
# price_level = []
# vicinity = []

# for r in range(len(places_data["results"])):
#     #try/except block
#     try:
#         business_status.append(places_data["results"][r]["business_status"])
#         latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
#         longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
#         name.append(places_data["results"][r]["name"])
#         rating.append(places_data["results"][r]["rating"])
#         user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
#         vicinity.append(places_data["results"][r]["vicinity"])
#         price_level.append(places_data["results"][r]["price_level"])
#     except Exception:
#     #if there is a 0 the restaurant has no price level ascoiated with it.
#         print("Restaurant has no price level. Skipping...")
   
#         price_level.append(0)

   
# review_dict = {
# #     "Restaurant":name,
# #     "Rating":rating,
# #     "Business Status":business_status,
# #     "user_ratings_total":user_ratings_total,
# #     "latitude":latitude,
# #     "longitude":longitude,
# #     "vicinity":vicinity,
# #     "price_level":price_level
    
#     "Restaurant":name,
#     "Rating":rating,
#     "price_level":price_level,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "Business Status":business_status
    
    
# } 
# # establish dataframe
# restarunt_dataframe = pd.DataFrame(review_dict)
# restarunt_dataframe

In [36]:
# # Print the name and address of the first restaurant that appears
# print(places_data["results"][0]["name"])
# print(places_data["results"][0]["vicinity"])

In [37]:
# target_coordinates = "43.6187102, -116.2146068"
# # target_search = "mexican"
# target_search = "restaurant"
# # meters is the units
# target_radius = 30000
# target_type = "restaurant"

# # set up a parameters dictionary
# params = {
#     "location": target_coordinates,
#     "keyword": target_search,
#     "radius": target_radius,
#     "type": target_type,
#     "key": gkey
# }

# # base url
# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# # frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# # run a request using our params dictionary
# response = requests.get(base_url, params=params)

In [38]:
# # convert response to json
# places_data = response.json()
    
# # Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

In [39]:
# # convert response to json
# places_data = response.json()
    
# # Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

In [40]:
# name = []
# rating = []
# user_ratings_total = []
# latitude = []
# longitude = []
# business_status = [] 
# price_level = []
# vicinity = []

# for r in range(len(places_data["results"])):
#     #try/except block
#     try:
#         business_status.append(places_data["results"][r]["business_status"])
#         latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
#         longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
#         name.append(places_data["results"][r]["name"])
#         rating.append(places_data["results"][r]["rating"])
#         user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
#         vicinity.append(places_data["results"][r]["vicinity"])
#         price_level.append(places_data["results"][r]["price_level"])
#     except Exception:
#     #if there is a 0 the restaurant has no price level ascoiated with it.
#         print("Restaurant has no price level. Skipping...")
   
#         price_level.append(0)

   
# review_dict = {
# #     "Restaurant":name,
# #     "Rating":rating,
# #     "Business Status":business_status,
# #     "user_ratings_total":user_ratings_total,
# #     "latitude":latitude,
# #     "longitude":longitude,
# #     "vicinity":vicinity,
# #     "price_level":price_level
    
#     "Restaurant":name,
#     "Rating":rating,
#     "price_level":price_level,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "Business Status":business_status
    
    
# } 
# # establish dataframe
# restarunt_dataframe = pd.DataFrame(review_dict)
# restarunt_dataframe

# Denver

In [19]:
target_coordinates = "39.7621, -104.8759"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
denver_dataframe = pd.DataFrame(review_dict)
denver_dataframe

Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Rocky Mountain Sudanese's restaurant,4.9,0,86,39.739778,-104.869816,"10180 E Colfax Ave, Aurora",CLOSED_TEMPORARILY
1,FIFTY300 Restaurant,3.8,0,21,39.769882,-104.903991,"3801 Quebec St, Denver",OPERATIONAL
2,Ted'z Place Restaurant and Lounge,4.5,2,812,39.791361,-104.926156,"5271 E 52nd Ave, Commerce City",OPERATIONAL
3,Sapp Bros Cafe,4.0,2,496,39.784888,-104.904559,"7120 E 49th Ave, Commerce City",OPERATIONAL
4,Café Mercato,4.4,2,370,39.719425,-104.896602,"7561 E Academy Blvd, Denver",OPERATIONAL
5,El Muelle Mexican Restaurant,3.8,0,119,39.723649,-104.820766,"475 Sable Blvd, Aurora",OPERATIONAL
6,Phở 888,4.5,1,1220,39.724193,-104.821438,"Parking lot, 539 Sable Blvd, Aurora",OPERATIONAL
7,La Sandia,4.0,2,960,39.782148,-104.891528,"8340 Northfield Blvd Unit 1690, Denver",OPERATIONAL
8,Restaurante El Tamarindo,4.1,0,285,39.739806,-104.898394,"7700 E Colfax Ave, Denver",OPERATIONAL
9,El Chalate Restaurant,4.2,1,975,39.740361,-104.893448,"8119 E Colfax Ave, Denver",OPERATIONAL
10,ND streetBAR,4.3,2,768,39.759850,-104.868595,"10155 E 29th Dr Suite 160, Denver",OPERATIONAL
11,The Blazing Chicken Shack II,4.5,1,412,39.763657,-104.922759,"5560 E 33rd Ave, Denver",OPERATIONAL
12,Chai & Chai Ethnic Kitchen,3.7,1,85,39.744106,-104.841757,"12501 E 17th Ave, Aurora",OPERATIONAL
13,HashTAG,4.4,2,1523,39.759902,-104.869094,"10155 E 29th Dr #120, Denver",OPERATIONAL
14,El Patron Mexican Restaurant,4.0,2,476,39.780483,-104.845776,"4630 Peoria St, Denver",OPERATIONAL
15,La Cueva Restaurant,4.4,2,335,39.739998,-104.874404,"9742 E Colfax Ave, Aurora",OPERATIONAL
16,Los Tony's Mexican Restaurant,4.4,1,283,39.747258,-104.869124,"10202 E Montview Blvd, Aurora",OPERATIONAL
17,Cozy Cafe,4.6,2,71,39.720969,-104.865357,"350 Havana St, Aurora",OPERATIONAL
18,Top Phở,4.6,1,1067,39.740550,-104.852193,"11697 E Colfax Ave, Aurora",OPERATIONAL
19,Pho Duy Vietnamese Restaurant,4.5,1,318,39.726667,-104.844722,"680 Peoria St, Aurora",OPERATIONAL

# Chicago

In [70]:
target_coordinates = "41.8373, -87.6862"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        
#         if places_data["results"][r]["rating"]>= 4.0:
#             rating.append(places_data["results"][r]["rating"])
        
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
chicago_dataframe = pd.DataFrame(review_dict)
chicago_dataframe

Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Red Barrel Restaurant,4.4,2,585,41.800116,-87.735133,"5214 S Archer Ave, Chicago",OPERATIONAL
1,Bridgeport Restaurant,4.2,1,768,41.830575,-87.646404,"3500 S Halsted St, Chicago",OPERATIONAL
2,The Village,4.4,2,3482,41.880538,-87.630205,"71 W Monroe St, Chicago",OPERATIONAL
3,Palace Grill Restaurant,4.6,1,785,41.881677,-87.662498,"1408 W Madison St, Chicago",OPERATIONAL
4,Harvey's Family Restaurant,4.4,1,246,41.837725,-87.643382,"657 W 31st St, Chicago",OPERATIONAL
5,Rivers Restaurant,4.2,2,431,41.880834,-87.637123,"30 S Wacker Dr, Chicago",OPERATIONAL
6,Manjares Restaurant,4.3,2,770,41.851318,-87.666411,"2230 S Ashland Ave, Chicago",OPERATIONAL
7,Parkview Restaurant Grill,4.6,1,239,41.856027,-87.676114,"2000 W 19th St, Chicago",OPERATIONAL
8,Los Langostinos Restaurant,4.5,2,287,41.837021,-87.722984,"3059 S Harding Ave, Chicago",OPERATIONAL
9,Eppel's Restaurant,4.5,1,1008,41.867403,-87.641464,"554 Roosevelt Rd, Chicago",OPERATIONAL
10,Westside Restaurant,4.8,0,4,41.866807,-87.696210,"2804 W Roosevelt Rd, Chicago",OPERATIONAL
11,New Archview Restaurant,4.2,1,1041,41.830734,-87.677471,"3480 S Archer Ave, Chicago",OPERATIONAL
12,Taste of Chicago Restaurant,4.5,1,296,41.835670,-87.666170,"3170 S Ashland Ave H, Chicago",OPERATIONAL
13,Bureau Bar and Restaurant,3.7,2,426,41.853720,-87.626869,"2115 S State St, Chicago",OPERATIONAL
14,Roanoke Restaurant,4.4,2,1085,41.881855,-87.631981,"135 W Madison St, Chicago",OPERATIONAL
15,El Faro Restaurant,4.3,1,1491,41.837052,-87.723397,"3936 W 31st St, Chicago",OPERATIONAL
16,Burrito Grande Restaurant,4.3,1,338,41.800937,-87.729653,"5108 S Archer Ave, Chicago",OPERATIONAL
17,El Cangrejo seafood restaurant,4.5,2,759,41.812097,-87.707832,"4472 S Archer Ave, Chicago",OPERATIONAL
18,La Villita Restaurant,3.9,2,496,41.844609,-87.708561,"3324 W 26th St, Chicago",OPERATIONAL
19,Cocula Restaurant,4.1,2,788,41.851689,-87.746186,"4836 W Cermak Rd, Cicero",OPERATIONAL

# New Orleans

In [21]:
target_coordinates = "30.0687, -89.9288"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
new_orleans_dataframe = pd.DataFrame(review_dict)
new_orleans_dataframe

Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Madchef at 59th,4.4,0,211,30.040686,-89.954955,"5941 Bullard Ave #7, New Orleans",OPERATIONAL
1,Bullard Seafood and Grill,4.3,1,1159,30.048147,-89.962168,"7025 Bullard Ave, New Orleans",OPERATIONAL
2,Vucinovich's,4.7,1,264,30.029991,-89.927849,"4510 Michoud Blvd, New Orleans",OPERATIONAL
3,Burritos Grill Mexican Fresh Cuisine,4.4,0,332,30.038738,-89.976972,"7009 Read Blvd, New Orleans",OPERATIONAL
4,Mi Frida Foodtruck llc,5.0,0,1,30.048901,-89.955797,"12300 I-10 Service Rd, New Orleans",OPERATIONAL
5,Don Villaraso,0.0,0,0,30.038714,-89.971751,"I-10 Service Rd, New Orleans",OPERATIONAL
6,Tempo Creole Cuisine,5.0,2,9,30.040188,-89.955104,"5931 Bullard Ave #7, New Orleans",OPERATIONAL
7,Perkins Landing,0.0,0,0,30.057435,-89.968539,"11960 Hayne Blvd, New Orleans",OPERATIONAL
8,Easy Seafood,4.5,1,186,30.032148,-89.928627,"Ye Ole Village Shopping Center, 13243 Chef Men...",OPERATIONAL
9,Julie's Kitchen,4.5,1,194,30.030429,-89.970854,"5609 Read Blvd, New Orleans",OPERATIONAL
10,Tony's Super Cajun Seafood,4.1,1,367,30.041705,-89.956851,"5971 Bullard Ave, New Orleans",OPERATIONAL
11,East Seafood LLC,4.5,0,37,30.047860,-89.963149,"7030 Bullard Ave Suite D, New Orleans",OPERATIONAL
12,New Orleans Hamburger & Seafood Co.,4.0,2,687,30.045994,-89.959405,"12000 I-10 Service Rd, New Orleans",OPERATIONAL
13,Cajun Shack NOLA,4.3,0,262,30.030053,-89.977514,"9830 Lake Forest Blvd Suite 110, New Orleans",OPERATIONAL
14,China House Restaurant,3.9,1,217,30.047984,-89.963249,"7040 Bullard Ave, New Orleans",OPERATIONAL
15,Kim Mai,0.0,0,0,30.036907,-89.911314,New Orleans,CLOSED_TEMPORARILY
16,Cajun Seafood,4.0,1,879,30.038565,-89.977726,"7020 Read Blvd, New Orleans",OPERATIONAL
17,M & J Soul Food Restaurant,4.5,1,154,30.029697,-89.982211,"9301 Lake Forest Blvd #107, New Orleans",OPERATIONAL
18,Orleans,0.0,0,0,30.038777,-89.977281,New Orleans,OPERATIONAL
19,Ba Mien Restaurant,4.4,1,121,30.031980,-89.929371,"13235 Chef Menteur Hwy, New Orleans",OPERATIONAL

# Jacksonville

In [22]:
target_coordinates = "30.3322, -81.6749"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
jacksonville_dataframe = pd.DataFrame(review_dict)
jacksonville_dataframe

Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,BB's Restaurant and Bar,4.6,3,1393,30.315838,-81.654509,"1019 Hendricks Ave, Jacksonville",OPERATIONAL
1,Brick Restaurant,4.4,2,1284,30.296844,-81.704198,"3585 St Johns Ave, Jacksonville",OPERATIONAL
2,Taverna,4.5,2,1240,30.303865,-81.654724,"1986 San Marco Blvd, Jacksonville",OPERATIONAL
3,Restaurant Orsay,4.7,3,1618,30.300268,-81.709976,"3630 Park St, Jacksonville",OPERATIONAL
4,Bellwether,4.6,2,540,30.327611,-81.659926,"117 W Forsyth St, Jacksonville",OPERATIONAL
5,Primi Piatti,4.6,0,283,30.310058,-81.694199,"2722 Park St, Jacksonville",OPERATIONAL
6,The Cookbook Restaurant,4.4,0,440,30.346675,-81.658350,"1827 N Pearl St, Jacksonville",OPERATIONAL
7,Fox Restaurant,4.6,1,935,30.296585,-81.703712,"3580 St Johns Ave, Jacksonville",OPERATIONAL
8,Biscottis,4.7,2,1103,30.297039,-81.703290,"3556 St Johns Ave, Jacksonville",OPERATIONAL
9,Matthew's Restaurant,4.7,4,452,30.303936,-81.652263,"2107 Hendricks Ave, Jacksonville",OPERATIONAL
10,Wafaa & Mike's Cafe,4.7,1,392,30.342811,-81.654535,"1544 N Main St, Jacksonville",OPERATIONAL
11,The Southern Grill,4.3,1,1606,30.317651,-81.657479,"800 Flagler Ave, Jacksonville",OPERATIONAL
12,La Cena Ristorante,4.4,3,267,30.313418,-81.719009,"911 Edgewood Ave S, Jacksonville",OPERATIONAL
13,MOCA CAFÉ,4.5,1,46,30.329266,-81.658531,"333 N Laura St, Jacksonville",CLOSED_TEMPORARILY
14,Black Sheep Restaurant,4.4,2,2465,30.312799,-81.680836,"1534 Oak St, Jacksonville",OPERATIONAL
15,Clara's Tidbits Restaurant,4.6,1,523,30.314667,-81.654919,"1076 Hendricks Ave, Jacksonville",OPERATIONAL
16,The olive tree Mediterranean restaurant,4.7,1,478,30.308030,-81.654180,"1705 Hendricks Ave, Jacksonville",OPERATIONAL
17,Pink Salt Restaurant and Wine Bar,4.3,1,567,30.311461,-81.660738,"1430 San Marco Blvd, Jacksonville",OPERATIONAL
18,The Mossfire Grill,4.5,2,1027,30.312976,-81.680939,"1537 Margaret St, Jacksonville",OPERATIONAL
19,The Avenue Grill,4.4,0,166,30.331771,-81.642590,"818 A Philip Randolph Blvd, Jacksonville",OPERATIONAL

# Memphis

In [24]:
target_coordinates = "35.1046, -89.9773"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
memphis_dataframe = pd.DataFrame(review_dict)
memphis_dataframe

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Casablanca Germantown,4.4,2,641,35.083853,-89.809326,"7609 Poplar Pike, Germantown",OPERATIONAL
1,Casbah Restaurant,4.3,2,604,35.176971,-89.792359,"1890 N Germantown Pkwy, Cordova",OPERATIONAL
2,Barksdale Restaurant,4.5,1,573,35.132111,-89.990585,"237 Cooper St, Memphis",OPERATIONAL
3,River Oaks Restaurant,4.5,3,269,35.103008,-89.866821,"5871 Poplar Ave, Memphis",OPERATIONAL
4,Soul Fish Cafe,4.5,2,2638,35.115747,-89.904814,"4720 Poplar Ave, Memphis",OPERATIONAL
5,Acre Restaurant,4.6,3,255,35.112373,-89.907212,"690 S Perkins Rd, Memphis",OPERATIONAL
6,Paulette's Restaurant,4.5,3,466,35.161283,-90.055009,"50 Harbor Town Square, Memphis",OPERATIONAL
7,Casablanca Restaurant,4.4,2,802,35.137927,-90.004344,"1707 Madison Ave, Memphis",OPERATIONAL
8,Soul Fish Cafe,4.4,2,813,35.203046,-89.782633,"8413 US-64, Memphis",OPERATIONAL
9,Casablanca Restaurant,4.3,2,966,35.112517,-89.894121,"5030 Poplar Ave #7, Memphis",OPERATIONAL
10,Char Restaurant,4.5,3,1554,35.119552,-89.946040,"431 S Highland St #120, Memphis",OPERATIONAL
11,Soul Fish Cafe,4.4,2,1140,35.064651,-89.757627,"3160 Village Shops Dr, Germantown",OPERATIONAL
12,Amerigo Italian Restaurant,4.5,2,993,35.097293,-89.859791,"1239 Ridgeway Rd, Memphis",OPERATIONAL
13,Marciano Restaurant,4.6,2,208,35.111026,-89.889262,"780 E Brookhaven Cir, Memphis",OPERATIONAL
14,SweetPea's Table Restaurant,4.2,1,658,34.928126,-89.829682,"4646 MS-305, Olive Branch",OPERATIONAL
15,Chez Philippe,4.5,4,100,35.142641,-90.051985,"2638, 149 Union Ave #4, Memphis",OPERATIONAL
16,Erling Jensen The Restaurant,4.8,4,425,35.103069,-89.877150,"1044 S Yates Rd, Memphis",OPERATIONAL
17,The Kitchen Restaurant on Jackson,4.4,1,523,35.158603,-90.010533,"1420 Jackson Ave, Memphis",OPERATIONAL
18,Iris,4.7,3,282,35.120580,-89.910307,"4550 Poplar Ave, Memphis",OPERATIONAL
19,The Port Restaurant,4.0,1,306,35.108005,-90.089319,"1039 Harbor Ave, Memphis",OPERATIONAL

# Ralegh

In [25]:
target_coordinates = "35.8325, -78.6435"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
ralegh_dataframe = pd.DataFrame(review_dict)
ralegh_dataframe

Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Margaux's Restaurant,4.5,0,515,35.897833,-78.682105,"8111 Creedmoor Rd, Raleigh",OPERATIONAL
1,The Restaurant at The Durham,4.4,2,107,35.997186,-78.900891,"315 E Chapel Hill St, Durham",OPERATIONAL
2,Bosphorus Restaurant,4.6,2,1803,35.789669,-78.783617,"329 N Harrison Ave, Cary",OPERATIONAL
3,The Border Restaurant,4.6,1,365,35.989355,-78.504791,"712 N Main St, Wake Forest",OPERATIONAL
4,Angie's Restaurant,4.8,1,2425,35.717223,-78.623925,"1340 W Garner Rd, Garner",OPERATIONAL
5,Zebulon Family Restaurant,4.0,0,153,35.820239,-78.322934,"409 W Gannon Ave, Zebulon",OPERATIONAL
6,Harvest 18 Restaurant,4.3,2,982,35.903375,-78.953074,"8128 Renaissance Pkwy #114, Durham",OPERATIONAL
7,Newton's Restaurant & Lounge,4.5,0,25,35.892655,-78.846625,"4700 Guardian Dr, Durham",OPERATIONAL
8,Crawford and Son,4.7,3,525,35.788800,-78.634141,"618 N Person St, Raleigh",OPERATIONAL
9,Vic's Italian Restaurant & Pizzeria,4.4,2,736,35.815293,-78.697240,"4035 Lake Boone Trail STE 109, Raleigh",OPERATIONAL
10,Mannings Restaurant,4.5,2,1420,35.650402,-78.456246,"406 E Main St, Clayton",OPERATIONAL
11,Side Street Restaurant,4.6,2,309,35.783552,-78.633134,"225 N Bloodworth St #427, Raleigh",OPERATIONAL
12,Sitti,4.5,2,2305,35.778375,-78.637944,"137 S Wilmington St, Raleigh",OPERATIONAL
13,Amedeo's Italian Restaurant,4.4,2,1529,35.784071,-78.690237,"3905 Western Blvd, Raleigh",OPERATIONAL
14,Lucky 32 Southern Kitchen,4.5,2,2708,35.736533,-78.785243,"7307 Tryon Rd, Cary",OPERATIONAL
15,Herons,4.7,2,469,35.829479,-78.764580,"The Umstead Hotel and Spa, 100 Woodland Pond D...",OPERATIONAL
16,Assaggio's Italian Restaurant,4.5,2,768,35.863197,-78.710642,"3501 W Millbrook Rd, Raleigh",OPERATIONAL
17,Pam`s Farmhouse Restaurant,4.6,0,938,35.786030,-78.711881,"5111 Western Blvd, Raleigh",OPERATIONAL
18,Amalia's Authentic Italian Restaurant,4.7,0,201,35.962113,-78.518364,"1248 S Main St, Wake Forest",OPERATIONAL
19,La Cocina Mexican Restaurant #9,4.3,1,768,35.920455,-78.810025,"2121 TW Alexander Dr Suite 119, Morrisville",OPERATIONAL

# Baltimore

In [26]:
target_coordinates = "39.3051, -76.6144"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
baltimore_dataframe = pd.DataFrame(review_dict)
baltimore_dataframe

Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Bluestone Restaurant,4.5,2,1817,39.433578,-76.627304,"11 W Aylesbury Rd, Timonium",OPERATIONAL
1,Paul's Restaurant,4.2,1,395,39.246755,-76.693627,"5507 Oregon Ave, Arbutus",OPERATIONAL
2,Catonsville Gourmet,4.5,2,978,39.270973,-76.735015,"829 Frederick Rd, Catonsville",OPERATIONAL
3,Tersiguel's French Country Restaurant,4.6,3,249,39.267680,-76.799575,"8293 Main St, Ellicott City",OPERATIONAL
4,Valentino's Restaurant,4.2,2,1886,39.363107,-76.551884,"6627 Harford Rd, Baltimore",OPERATIONAL
5,The Helmand,4.6,2,797,39.299038,-76.615904,"806 N Charles St, Baltimore",OPERATIONAL
6,Citron Restaurant & Bar,4.3,0,738,39.384141,-76.689234,"2605 Quarry Lake Dr, Baltimore",OPERATIONAL
7,The Periodic Table Restaurant & Bar,4.3,0,266,39.226156,-76.815619,"8808 Centre Park Dr, Columbia",OPERATIONAL
8,Michael's Cafe,4.4,2,1350,39.442132,-76.626599,"2119 York Rd, Timonium",OPERATIONAL
9,Granny's Restaurant,4.5,2,1913,39.406837,-76.809870,"9712 Groffs Mill Dr, Owings Mills",OPERATIONAL
10,The Kings Contrivance,4.5,3,471,39.180744,-76.864141,"10150 Shaker Dr, Columbia",OPERATIONAL
11,Bowman Restaurant,4.1,2,727,39.391657,-76.527657,"9306 Harford Rd, Parkville",OPERATIONAL
12,Carson's Creekside Restaurant,4.5,2,1482,39.321198,-76.426340,"1110 Beech Dr, Middle River",OPERATIONAL
13,Maximón,4.4,0,395,39.282389,-76.602543,"200 International Drive, Baltimore",OPERATIONAL
14,Syriana Cafe & Restaurant,4.6,2,512,39.267564,-76.797503,"8180 Main St, Ellicott City",OPERATIONAL
15,La Calle Restaurant,4.7,2,317,39.289168,-76.611170,"10 South St, Baltimore",OPERATIONAL
16,Timbuktu Restaurant,4.0,2,4453,39.176368,-76.740013,"1726 Dorsey Rd, Hanover",OPERATIONAL
17,Romanos Restaurant,4.3,2,1840,39.185973,-76.612095,"6905 Ritchie Hwy, Glen Burnie",OPERATIONAL
18,Tagliata,4.5,3,939,39.284398,-76.599692,"1012 Fleet St, Baltimore",OPERATIONAL
19,Seaside Restaurant,4.3,2,1805,39.166870,-76.624292,"224 Crain Hwy, Glen Burnie",OPERATIONAL

# St.louis

In [27]:
target_coordinates = "38.6358, -90.2451"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
st_louis_dataframe = pd.DataFrame(review_dict)
st_louis_dataframe

Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Prasino St. Charles,4.5,2,2251,38.765960,-90.494558,"1520 S 5th St #110, St Charles",OPERATIONAL
1,Gulf Shores Restaurant & Grill,4.4,2,2961,38.675525,-90.464195,"12528 Olive Blvd, Creve Coeur",OPERATIONAL
2,Spiro's Restaurant,4.7,3,822,38.678153,-90.499203,"1054 N Woods Mill Rd, Chesterfield",OPERATIONAL
3,Gingham's Homestyle Restaurant,4.6,1,5048,38.770799,-90.520496,"1566 Country Club Plaza Dr, St Charles",OPERATIONAL
4,Lombardo's Family of Restaurants,4.1,2,442,38.737843,-90.363403,"10488 Natural Bridge Rd, St. Louis",OPERATIONAL
5,Roberto's Italian Restaurant,4.5,2,398,38.814553,-90.345913,"16 Mullanphy Road Garden Shopping Center, Flor...",OPERATIONAL
6,Avenue Restaurant,4.4,2,273,38.650826,-90.339376,"12 N Meramec Ave, St. Louis",OPERATIONAL
7,The Tavern Kitchen & Bar,4.7,3,299,38.568855,-90.477812,"2961 Dougherty Ferry Rd Suite 101, St. Louis",OPERATIONAL
8,Tony's,4.5,4,394,38.648863,-90.333988,"105 Carondelet Plaza, Clayton",OPERATIONAL
9,Grbic Restaurant and Private Events,4.7,2,869,38.587919,-90.256800,"4071 Keokuk St, St. Louis",OPERATIONAL
10,Moore's Restaurant,4.5,1,321,38.546788,-90.053493,"7309 Old St Louis Rd, Belleville",OPERATIONAL
11,Fazzi's Restaurant & Bar,4.6,2,957,38.692003,-89.971911,"1813 Vandalia St, Collinsville",OPERATIONAL
12,Erio's Pizza & Restaurant,4.6,1,386,38.730693,-90.356700,"4434 Woodson Rd, St. Louis",OPERATIONAL
13,Al's Restaurant,4.4,4,152,38.635396,-90.182493,"1200 N 1st St, St. Louis",OPERATIONAL
14,Biggie's Restaurant,4.5,2,873,38.601621,-90.299116,"3332 Watson Rd, St. Louis",OPERATIONAL
15,Lewis & Clark's Restaurant,4.3,2,1560,38.780072,-90.482204,"217 S Main St, St Charles",OPERATIONAL
16,Beffa's Bar & Restaurant,4.7,0,220,38.633448,-90.216786,"2700 Olive St, St. Louis",OPERATIONAL
17,Lombardo's Trattoria,4.5,3,746,38.627969,-90.210179,"Lower Level of Drury Inn, 201 S 20th St, St. L...",OPERATIONAL
18,La Fiesta Mexican Restaurant,4.4,1,811,38.505571,-90.323661,"7439 S Lindbergh Blvd, St. Louis",OPERATIONAL
19,Pio's Restaurant and Cocktail Lounge,4.3,2,792,38.780585,-90.485966,"403 1st Capitol Dr, St Charles",OPERATIONAL

# Washington

In [28]:
target_coordinates = "38.9047, -77.0163"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
washington_dataframe = pd.DataFrame(review_dict)
washington_dataframe

Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,2941 Restaurant,4.6,3,848,38.869599,-77.215187,"2941 Fairview Park Dr, Falls Church",OPERATIONAL
1,McLean Family Restaurant,4.4,1,742,38.939362,-77.174442,"1321 Chain Bridge Rd, McLean",OPERATIONAL
2,Rustico,4.3,2,921,38.880178,-77.108467,"4075 Wilson Blvd, Arlington",OPERATIONAL
3,Olympians Family Restaurant,4.5,2,518,38.740326,-77.165723,"6430 Landsdowne Centre Dr, Alexandria",OPERATIONAL
4,Maple Ave Restaurant,4.6,3,303,38.900505,-77.266870,"147 Maple Ave W, Vienna",OPERATIONAL
5,LiLLiES Restaurant & Bar,4.3,2,417,38.928496,-77.054074,"2915 Connecticut Ave NW, Washington",OPERATIONAL
6,Finn & Porter - Alexandria Restaurant,3.9,2,166,38.832971,-77.117442,"5000 Seminary Rd, Alexandria",OPERATIONAL
7,Joe Theismann's Restaurant,4.4,2,2168,38.805635,-77.060314,"1800 Diagonal Rd, Alexandria",OPERATIONAL
8,Primo Family Restaurant,4.1,2,405,38.776449,-77.062089,"1636 Belle View Blvd, Alexandria",OPERATIONAL
9,Rustico,4.3,2,864,38.821692,-77.047149,"827 Slaters Ln, Alexandria",OPERATIONAL
10,Mike's American,4.6,2,5611,38.782831,-77.186157,"6210 Backlick Rd, Springfield",OPERATIONAL
11,RPM Italian,4.5,3,1952,38.902256,-77.021236,"650 K St NW, Washington",OPERATIONAL
12,SER Restaurant,4.4,3,665,38.883922,-77.117059,"1110 N Glebe Rd, Arlington",OPERATIONAL
13,All Set Restaurant & Bar,4.4,2,1108,38.997937,-77.028220,"Plaza 5, 8630 Fenton St, Silver Spring",OPERATIONAL
14,RT's Restaurant,4.5,2,949,38.839478,-77.062716,"3804 Mt Vernon Ave, Alexandria",OPERATIONAL
15,Laporta's Restaurant,4.5,2,610,38.803994,-77.058201,"1600 Duke St, Alexandria",OPERATIONAL
16,1789 Restaurant & Bar,4.6,4,471,38.906028,-77.070409,"1226 36th St NW, Washington",OPERATIONAL
17,Panjshir Restaurant,4.5,2,199,38.880302,-77.171736,"114 E Fairfax St, Falls Church",OPERATIONAL
18,Corinto Restaurant,3.7,0,264,38.845144,-76.875431,"7611 Marlboro Pike, District Heights",OPERATIONAL
19,Nostos Restaurant,4.6,3,668,38.913669,-77.225778,"8100 Boone Blvd, Vienna",OPERATIONAL

# Providence

In [29]:
target_coordinates = "41.8230, -71.4187"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
providence_dataframe = pd.DataFrame(review_dict)
providence_dataframe

Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Hemenway's Restaurant,4.6,4,1513,41.824213,-71.406913,"121 S Main St, Providence",OPERATIONAL
1,IL Fornello Restaurant,4.6,2,367,41.861128,-71.423071,"16 Josephine St, North Providence",OPERATIONAL
2,Louis Family Restaurant,4.4,1,335,41.824643,-71.399099,"286 Brook St, Providence",OPERATIONAL
3,Madeira Restaurant,4.1,2,908,41.814294,-71.371906,"288 Warren Ave, East Providence",OPERATIONAL
4,Basta Italian Restaurant,4.5,3,568,41.765050,-71.390917,"2195 Broad St, Cranston",OPERATIONAL
5,Cafe Nuovo,4.7,3,610,41.827419,-71.410736,"One Citizens Plaza, Providence",OPERATIONAL
6,Marchetti's Restaurant,4.6,2,2730,41.783285,-71.463589,"1463 Park Ave, Cranston",OPERATIONAL
7,MamaJuana Restaurant Pawtucket RI,4.5,0,276,41.866920,-71.398619,"904 Main St, Pawtucket",OPERATIONAL
8,Layali Restaurant Bar,4.7,0,193,41.824233,-71.409481,"36 Weybosset St, Providence",OPERATIONAL
9,Mills Tavern,4.5,3,353,41.828063,-71.409143,"101 N Main St, Providence",OPERATIONAL
10,Harry's Restaurant,4.8,1,148,41.698759,-71.157856,"270 S Main St, Fall River",OPERATIONAL
11,Caldeiras Restaurant,4.5,2,793,41.695258,-71.139183,"990 Pleasant St, Fall River",OPERATIONAL
12,Twin Oaks Restaurant,4.4,2,2719,41.789111,-71.441200,"100 Sabra St, Cranston",OPERATIONAL
13,Roast House Pub & Restaurant,4.4,2,769,41.870668,-71.364832,"176 Columbus Ave, Pawtucket",OPERATIONAL
14,Cassarino's Restaurant,4.6,2,576,41.823533,-71.423851,"177 Atwells Ave, Providence",OPERATIONAL
15,Jack's Family Restaurant,4.3,2,277,41.729667,-71.272333,"294 Child St, Warren",OPERATIONAL
16,Chardonnay's Restaurant,4.4,2,825,41.826036,-71.329784,"393 Taunton Ave, Seekonk",OPERATIONAL
17,Spumoni's,4.3,2,1776,41.894794,-71.353894,"1537 Newport Ave, Pawtucket",OPERATIONAL
18,Eats Restaurant,4.7,1,371,41.788407,-71.320104,"1395 Fall River Ave, Seekonk",OPERATIONAL
19,Roger's Family Restaurant,4.5,1,695,41.723464,-71.179411,"1229 Wilbur Ave, Somerset",OPERATIONAL

In [56]:
# mergeing the dataframes
country_df = [denver_dataframe,chicago_dataframe, 
                 new_orleans_dataframe, jacksonville_dataframe, 
                 memphis_dataframe, ralegh_dataframe, baltimore_dataframe, 
                 st_louis_dataframe, washington_dataframe, providence_dataframe]
result = pd.concat(country_df)
display(result)

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Rocky Mountain Sudanese's restaurant,4.9,0,86,39.739778,-104.869816,"10180 E Colfax Ave, Aurora",CLOSED_TEMPORARILY
1,FIFTY300 Restaurant,3.8,0,21,39.769882,-104.903991,"3801 Quebec St, Denver",OPERATIONAL
2,Ted'z Place Restaurant and Lounge,4.5,2,812,39.791361,-104.926156,"5271 E 52nd Ave, Commerce City",OPERATIONAL
3,Sapp Bros Cafe,4.0,2,496,39.784888,-104.904559,"7120 E 49th Ave, Commerce City",OPERATIONAL
4,Café Mercato,4.4,2,370,39.719425,-104.896602,"7561 E Academy Blvd, Denver",OPERATIONAL
...,...,...,...,...,...,...,...,...
15,Jack's Family Restaurant,4.3,2,277,41.729667,-71.272333,"294 Child St, Warren",OPERATIONAL
16,Chardonnay's Restaurant,4.4,2,825,41.826036,-71.329784,"393 Taunton Ave, Seekonk",OPERATIONAL
17,Spumoni's,4.3,2,1776,41.894794,-71.353894,"1537 Newport Ave, Pawtucket",OPERATIONAL
18,Eats Restaurant,4.7,1,371,41.788407,-71.320104,"1395 Fall River Ave, Seekonk",OPERATIONAL
19,Roger's Family Restaurant,4.5,1,695,41.723464,-71.179411,"1229 Wilbur Ave, Somerset",OPERATIONAL

In [65]:
result =  result.reset_index(drop=True) 
result =  result.reset_index(drop=True)

In [66]:
display(result)

,index,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,0,Rocky Mountain Sudanese's restaurant,4.9,0,86,39.739778,-104.869816,"10180 E Colfax Ave, Aurora",CLOSED_TEMPORARILY
1,1,FIFTY300 Restaurant,3.8,0,21,39.769882,-104.903991,"3801 Quebec St, Denver",OPERATIONAL
2,2,Ted'z Place Restaurant and Lounge,4.5,2,812,39.791361,-104.926156,"5271 E 52nd Ave, Commerce City",OPERATIONAL
3,3,Sapp Bros Cafe,4.0,2,496,39.784888,-104.904559,"7120 E 49th Ave, Commerce City",OPERATIONAL
4,4,Café Mercato,4.4,2,370,39.719425,-104.896602,"7561 E Academy Blvd, Denver",OPERATIONAL
...,...,...,...,...,...,...,...,...,...
195,15,Jack's Family Restaurant,4.3,2,277,41.729667,-71.272333,"294 Child St, Warren",OPERATIONAL
196,16,Chardonnay's Restaurant,4.4,2,825,41.826036,-71.329784,"393 Taunton Ave, Seekonk",OPERATIONAL
197,17,Spumoni's,4.3,2,1776,41.894794,-71.353894,"1537 Newport Ave, Pawtucket",OPERATIONAL
198,18,Eats Restaurant,4.7,1,371,41.788407,-71.320104,"1395 Fall River Ave, Seekonk",OPERATIONAL
199,19,Roger's Family Restaurant,4.5,1,695,41.723464,-71.179411,"1229 Wilbur Ave, Somerset",OPERATIONAL

In [67]:
result =  result.drop("index",1)
display(result)

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Rocky Mountain Sudanese's restaurant,4.9,0,86,39.739778,-104.869816,"10180 E Colfax Ave, Aurora",CLOSED_TEMPORARILY
1,FIFTY300 Restaurant,3.8,0,21,39.769882,-104.903991,"3801 Quebec St, Denver",OPERATIONAL
2,Ted'z Place Restaurant and Lounge,4.5,2,812,39.791361,-104.926156,"5271 E 52nd Ave, Commerce City",OPERATIONAL
3,Sapp Bros Cafe,4.0,2,496,39.784888,-104.904559,"7120 E 49th Ave, Commerce City",OPERATIONAL
4,Café Mercato,4.4,2,370,39.719425,-104.896602,"7561 E Academy Blvd, Denver",OPERATIONAL
...,...,...,...,...,...,...,...,...
195,Jack's Family Restaurant,4.3,2,277,41.729667,-71.272333,"294 Child St, Warren",OPERATIONAL
196,Chardonnay's Restaurant,4.4,2,825,41.826036,-71.329784,"393 Taunton Ave, Seekonk",OPERATIONAL
197,Spumoni's,4.3,2,1776,41.894794,-71.353894,"1537 Newport Ave, Pawtucket",OPERATIONAL
198,Eats Restaurant,4.7,1,371,41.788407,-71.320104,"1395 Fall River Ave, Seekonk",OPERATIONAL
199,Roger's Family Restaurant,4.5,1,695,41.723464,-71.179411,"1229 Wilbur Ave, Somerset",OPERATIONAL