In [2]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
from census import Census
from pprint import pprint
# import gmaps

# Google API Key
from config import gkey

In [3]:
# # geocoordinates
# # uses the census api to generate 20 different citties baised on the peramiters that the cities have to be a certain size
# # use those 20 citities to run through the df and from there build the analysis
# target_coordinates = "33.7537, -84.3863"
# # target_coordinates = "43.6187102, -116.2146068"
# # target_search = "mexican"
# target_search = "restaurant"
# # meters is the units
# target_radius = 30000
# target_type = "restaurant"

# # set up a parameters dictionary
# params = {
#     "location": target_coordinates,
#     "keyword": target_search,
#     "radius": target_radius,
#     "type": target_type,
#     "key": gkey
# }

# # base url
# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# # frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# # run a request using our params dictionary
# response = requests.get(base_url, params=params)

In [4]:
# print the response url, avoid doing for public github repos in order to avoid exposing key
# print(response.url)

In [5]:
# # convert response to json
# places_data = response.json()
    
# # Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))
# # places_data_json = pd.read_json('base_url')

In [6]:
# # trying to expand past the first 20 search options
# places_data["next_page_token"]
# params['page_token'] = places_data['next_page_token']
# response = requests.get(base_url, params=params)
# convert response to json
# places_data = response.json()
    
# # Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

In [7]:
# len(places_data["results"])

In [8]:
# name = []
# rating = []
# user_ratings_total = []
# latitude = []
# longitude = []
# business_status = [] 
# price_level = []
# vicinity = []

# for r in range(len(places_data["results"])):
#     #try/except block
#     try:
#         business_status.append(places_data["results"][r]["business_status"])
#         latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
#         longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
#         name.append(places_data["results"][r]["name"])
#         rating.append(places_data["results"][r]["rating"])
#         user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
#         vicinity.append(places_data["results"][r]["vicinity"])
#         price_level.append(places_data["results"][r]["price_level"])
#     except Exception:
#     #if there is a 0 the restaurant has no price level ascoiated with it.
#         print("Restaurant has no price level. Skipping...")
   
#         price_level.append(0)

   
# review_dict = {
# #     "Restaurant":name,
# #     "Rating":rating,
# #     "Business Status":business_status,
# #     "user_ratings_total":user_ratings_total,
# #     "latitude":latitude,
# #     "longitude":longitude,
# #     "vicinity":vicinity,
# #     "price_level":price_level
    
#     "Restaurant":name,
#     "Rating":rating,
#     "price_level":price_level,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "Business Status":business_status
    
    
# } 
# # establish dataframe
# restarunt_dataframe = pd.DataFrame(review_dict)
# restarunt_dataframe

In [9]:
# # Print the name and address of the first restaurant that appears
# print(places_data["results"][0]["name"])
# print(places_data["results"][0]["vicinity"])

In [10]:
# target_coordinates = "43.6187102, -116.2146068"
# # target_search = "mexican"
# target_search = "restaurant"
# # meters is the units
# target_radius = 30000
# target_type = "restaurant"

# # set up a parameters dictionary
# params = {
#     "location": target_coordinates,
#     "keyword": target_search,
#     "radius": target_radius,
#     "type": target_type,
#     "key": gkey
# }

# # base url
# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# # frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# # run a request using our params dictionary
# response = requests.get(base_url, params=params)

In [11]:
# # convert response to json
# places_data = response.json()
    
# # Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

In [12]:
# # convert response to json
# places_data = response.json()
    
# # Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

In [13]:
# name = []
# rating = []
# user_ratings_total = []
# latitude = []
# longitude = []
# business_status = [] 
# price_level = []
# vicinity = []

# for r in range(len(places_data["results"])):
#     #try/except block
#     try:
#         business_status.append(places_data["results"][r]["business_status"])
#         latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
#         longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
#         name.append(places_data["results"][r]["name"])
#         rating.append(places_data["results"][r]["rating"])
#         user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
#         vicinity.append(places_data["results"][r]["vicinity"])
#         price_level.append(places_data["results"][r]["price_level"])
#     except Exception:
#     #if there is a 0 the restaurant has no price level ascoiated with it.
#         print("Restaurant has no price level. Skipping...")
   
#         price_level.append(0)

   
# review_dict = {
# #     "Restaurant":name,
# #     "Rating":rating,
# #     "Business Status":business_status,
# #     "user_ratings_total":user_ratings_total,
# #     "latitude":latitude,
# #     "longitude":longitude,
# #     "vicinity":vicinity,
# #     "price_level":price_level
    
#     "Restaurant":name,
#     "Rating":rating,
#     "price_level":price_level,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "Business Status":business_status
    
    
# } 
# # establish dataframe
# restarunt_dataframe = pd.DataFrame(review_dict)
# restarunt_dataframe

# Denver

In [14]:
target_coordinates = "39.7621, -104.8759"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
denver_dataframe = pd.DataFrame(review_dict)
denver_dataframe

Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Rocky Mountain Sudanese's restaurant,4.9,0,86,39.739778,-104.869816,"10180 E Colfax Ave, Aurora",CLOSED_TEMPORARILY
1,FIFTY300 Restaurant,3.8,0,21,39.769882,-104.903991,"3801 Quebec St, Denver",OPERATIONAL
2,Ted'z Place Restaurant and Lounge,4.5,2,813,39.791361,-104.926156,"5271 E 52nd Ave, Commerce City",OPERATIONAL
3,Sapp Bros Cafe,4.0,2,496,39.784888,-104.904559,"7120 E 49th Ave, Commerce City",OPERATIONAL
4,Café Mercato,4.4,2,370,39.719425,-104.896602,"7561 E Academy Blvd, Denver",OPERATIONAL
5,El Muelle Mexican Restaurant,3.8,0,119,39.723649,-104.820766,"475 Sable Blvd, Aurora",OPERATIONAL
6,Phở 888,4.5,1,1220,39.724193,-104.821438,"Parking lot, 539 Sable Blvd, Aurora",OPERATIONAL
7,La Sandia,4.0,2,960,39.782148,-104.891528,"8340 Northfield Blvd Unit 1690, Denver",OPERATIONAL
8,Restaurante El Tamarindo,4.1,0,285,39.739806,-104.898394,"7700 E Colfax Ave, Denver",OPERATIONAL
9,El Chalate Restaurant,4.2,1,975,39.740361,-104.893448,"8119 E Colfax Ave, Denver",OPERATIONAL
10,Knife & Board,4.4,0,5,39.762796,-104.904564,"3203 Quebec St, Denver",OPERATIONAL
11,ND streetBAR,4.3,2,768,39.759850,-104.868595,"10155 E 29th Dr Suite 160, Denver",OPERATIONAL
12,The Blazing Chicken Shack II,4.5,1,412,39.763657,-104.922759,"5560 E 33rd Ave, Denver",OPERATIONAL
13,Chai & Chai Ethnic Kitchen,3.7,1,85,39.744106,-104.841757,"12501 E 17th Ave, Aurora",OPERATIONAL
14,HashTAG,4.4,2,1525,39.759902,-104.869094,"10155 E 29th Dr #120, Denver",OPERATIONAL
15,Ambli Mexico at Fitzsimons,4.4,0,102,39.748459,-104.837947,"2101 N Ursula St, Aurora",OPERATIONAL
16,El Patron Mexican Restaurant,4.0,2,476,39.780483,-104.845776,"4630 Peoria St, Denver",OPERATIONAL
17,La Cueva Restaurant,4.4,2,335,39.739998,-104.874404,"9742 E Colfax Ave, Aurora",OPERATIONAL
18,Cattivella,4.5,3,991,39.759290,-104.868493,"10195 E 29th Dr Suite 110, Denver",OPERATIONAL
19,Los Tony's Mexican Restaurant,4.4,1,283,39.747258,-104.869124,"10202 E Montview Blvd, Aurora",OPERATIONAL

In [21]:
denver_dataframe['City']='Denver'
denver_dataframe

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status,City
0,Rocky Mountain Sudanese's restaurant,4.9,0,86,39.739778,-104.869816,"10180 E Colfax Ave, Aurora",CLOSED_TEMPORARILY,Denver
1,FIFTY300 Restaurant,3.8,0,21,39.769882,-104.903991,"3801 Quebec St, Denver",OPERATIONAL,Denver
2,Ted'z Place Restaurant and Lounge,4.5,2,813,39.791361,-104.926156,"5271 E 52nd Ave, Commerce City",OPERATIONAL,Denver
3,Sapp Bros Cafe,4.0,2,496,39.784888,-104.904559,"7120 E 49th Ave, Commerce City",OPERATIONAL,Denver
4,Café Mercato,4.4,2,370,39.719425,-104.896602,"7561 E Academy Blvd, Denver",OPERATIONAL,Denver
5,El Muelle Mexican Restaurant,3.8,0,119,39.723649,-104.820766,"475 Sable Blvd, Aurora",OPERATIONAL,Denver
6,Phở 888,4.5,1,1220,39.724193,-104.821438,"Parking lot, 539 Sable Blvd, Aurora",OPERATIONAL,Denver
7,La Sandia,4.0,2,960,39.782148,-104.891528,"8340 Northfield Blvd Unit 1690, Denver",OPERATIONAL,Denver
8,Restaurante El Tamarindo,4.1,0,285,39.739806,-104.898394,"7700 E Colfax Ave, Denver",OPERATIONAL,Denver
9,El Chalate Restaurant,4.2,1,975,39.740361,-104.893448,"8119 E Colfax Ave, Denver",OPERATIONAL,Denver
10,Knife & Board,4.4,0,5,39.762796,-104.904564,"3203 Quebec St, Denver",OPERATIONAL,Denver
11,ND streetBAR,4.3,2,768,39.759850,-104.868595,"10155 E 29th Dr Suite 160, Denver",OPERATIONAL,Denver
12,The Blazing Chicken Shack II,4.5,1,412,39.763657,-104.922759,"5560 E 33rd Ave, Denver",OPERATIONAL,Denver
13,Chai & Chai Ethnic Kitchen,3.7,1,85,39.744106,-104.841757,"12501 E 17th Ave, Aurora",OPERATIONAL,Denver
14,HashTAG,4.4,2,1525,39.759902,-104.869094,"10155 E 29th Dr #120, Denver",OPERATIONAL,Denver
15,Ambli Mexico at Fitzsimons,4.4,0,102,39.748459,-104.837947,"2101 N Ursula St, Aurora",OPERATIONAL,Denver
16,El Patron Mexican Restaurant,4.0,2,476,39.780483,-104.845776,"4630 Peoria St, Denver",OPERATIONAL,Denver
17,La Cueva Restaurant,4.4,2,335,39.739998,-104.874404,"9742 E Colfax Ave, Aurora",OPERATIONAL,Denver
18,Cattivella,4.5,3,991,39.759290,-104.868493,"10195 E 29th Dr Suite 110, Denver",OPERATIONAL,Denver
19,Los Tony's Mexican Restaurant,4.4,1,283,39.747258,-104.869124,"10202 E Montview Blvd, Aurora",OPERATIONAL,Denver

# Chicago

In [22]:
target_coordinates = "41.8373, -87.6862"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        
#         if places_data["results"][r]["rating"]>= 4.0:
#             rating.append(places_data["results"][r]["rating"])
        
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
chicago_dataframe = pd.DataFrame(review_dict)
chicago_dataframe

Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Red Barrel Restaurant,4.4,2,586,41.800116,-87.735133,"5214 S Archer Ave, Chicago",OPERATIONAL
1,Bridgeport Restaurant,4.2,1,768,41.830575,-87.646404,"3500 S Halsted St, Chicago",OPERATIONAL
2,The Village,4.5,2,3483,41.880538,-87.630205,"71 W Monroe St, Chicago",OPERATIONAL
3,Roanoke Restaurant,4.4,2,1085,41.881855,-87.631981,"135 W Madison St, Chicago",OPERATIONAL
4,Palace Grill Restaurant,4.6,1,785,41.881677,-87.662498,"1408 W Madison St, Chicago",OPERATIONAL
5,Harvey's Family Restaurant,4.4,1,246,41.837725,-87.643382,"657 W 31st St, Chicago",OPERATIONAL
6,Rivers Restaurant,4.2,2,431,41.880834,-87.637123,"30 S Wacker Dr, Chicago",OPERATIONAL
7,Manjares Restaurant,4.3,2,770,41.851318,-87.666411,"2230 S Ashland Ave, Chicago",OPERATIONAL
8,Parkview Restaurant Grill,4.6,1,239,41.856027,-87.676114,"2000 W 19th St, Chicago",OPERATIONAL
9,Los Langostinos Restaurant,4.5,2,287,41.837021,-87.722984,"3059 S Harding Ave, Chicago",OPERATIONAL
10,The Florentine,4.3,3,454,41.879289,-87.633010,"151 W Adams St, Chicago",OPERATIONAL
11,Eppel's Restaurant,4.5,1,1008,41.867403,-87.641464,"554 Roosevelt Rd, Chicago",OPERATIONAL
12,Westside Restaurant,4.8,0,4,41.866807,-87.696210,"2804 W Roosevelt Rd, Chicago",OPERATIONAL
13,New Archview Restaurant,4.2,1,1041,41.830734,-87.677471,"3480 S Archer Ave, Chicago",OPERATIONAL
14,Taste of Chicago Restaurant,4.5,1,296,41.835670,-87.666170,"3170 S Ashland Ave H, Chicago",OPERATIONAL
15,Bureau Bar and Restaurant,3.7,2,427,41.853720,-87.626869,"2115 S State St, Chicago",OPERATIONAL
16,El Faro Restaurant,4.3,1,1491,41.837052,-87.723397,"3936 W 31st St, Chicago",OPERATIONAL
17,Burrito Grande Restaurant,4.3,1,338,41.800937,-87.729653,"5108 S Archer Ave, Chicago",OPERATIONAL
18,El Cangrejo seafood restaurant,4.5,2,759,41.812097,-87.707832,"4472 S Archer Ave, Chicago",OPERATIONAL
19,La Villita Restaurant,3.9,2,497,41.844609,-87.708561,"3324 W 26th St, Chicago",OPERATIONAL

In [23]:
chicago_dataframe['City']='Chicago'
chicago_dataframe

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status,City
0,Red Barrel Restaurant,4.4,2,586,41.800116,-87.735133,"5214 S Archer Ave, Chicago",OPERATIONAL,Chicago
1,Bridgeport Restaurant,4.2,1,768,41.830575,-87.646404,"3500 S Halsted St, Chicago",OPERATIONAL,Chicago
2,The Village,4.5,2,3483,41.880538,-87.630205,"71 W Monroe St, Chicago",OPERATIONAL,Chicago
3,Roanoke Restaurant,4.4,2,1085,41.881855,-87.631981,"135 W Madison St, Chicago",OPERATIONAL,Chicago
4,Palace Grill Restaurant,4.6,1,785,41.881677,-87.662498,"1408 W Madison St, Chicago",OPERATIONAL,Chicago
5,Harvey's Family Restaurant,4.4,1,246,41.837725,-87.643382,"657 W 31st St, Chicago",OPERATIONAL,Chicago
6,Rivers Restaurant,4.2,2,431,41.880834,-87.637123,"30 S Wacker Dr, Chicago",OPERATIONAL,Chicago
7,Manjares Restaurant,4.3,2,770,41.851318,-87.666411,"2230 S Ashland Ave, Chicago",OPERATIONAL,Chicago
8,Parkview Restaurant Grill,4.6,1,239,41.856027,-87.676114,"2000 W 19th St, Chicago",OPERATIONAL,Chicago
9,Los Langostinos Restaurant,4.5,2,287,41.837021,-87.722984,"3059 S Harding Ave, Chicago",OPERATIONAL,Chicago
10,The Florentine,4.3,3,454,41.879289,-87.633010,"151 W Adams St, Chicago",OPERATIONAL,Chicago
11,Eppel's Restaurant,4.5,1,1008,41.867403,-87.641464,"554 Roosevelt Rd, Chicago",OPERATIONAL,Chicago
12,Westside Restaurant,4.8,0,4,41.866807,-87.696210,"2804 W Roosevelt Rd, Chicago",OPERATIONAL,Chicago
13,New Archview Restaurant,4.2,1,1041,41.830734,-87.677471,"3480 S Archer Ave, Chicago",OPERATIONAL,Chicago
14,Taste of Chicago Restaurant,4.5,1,296,41.835670,-87.666170,"3170 S Ashland Ave H, Chicago",OPERATIONAL,Chicago
15,Bureau Bar and Restaurant,3.7,2,427,41.853720,-87.626869,"2115 S State St, Chicago",OPERATIONAL,Chicago
16,El Faro Restaurant,4.3,1,1491,41.837052,-87.723397,"3936 W 31st St, Chicago",OPERATIONAL,Chicago
17,Burrito Grande Restaurant,4.3,1,338,41.800937,-87.729653,"5108 S Archer Ave, Chicago",OPERATIONAL,Chicago
18,El Cangrejo seafood restaurant,4.5,2,759,41.812097,-87.707832,"4472 S Archer Ave, Chicago",OPERATIONAL,Chicago
19,La Villita Restaurant,3.9,2,497,41.844609,-87.708561,"3324 W 26th St, Chicago",OPERATIONAL,Chicago

# New Orleans

In [25]:
target_coordinates = "30.0687, -89.9288"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
new_orleans_dataframe = pd.DataFrame(review_dict)
new_orleans_dataframe

Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Madchef at 59th,4.4,0,211,30.040686,-89.954955,"5941 Bullard Ave #7, New Orleans",OPERATIONAL
1,Bullard Seafood and Grill,4.3,1,1159,30.048147,-89.962168,"7025 Bullard Ave, New Orleans",OPERATIONAL
2,Vucinovich's,4.7,1,264,30.029991,-89.927849,"4510 Michoud Blvd, New Orleans",OPERATIONAL
3,Burritos Grill Mexican Fresh Cuisine,4.4,0,332,30.038738,-89.976972,"7009 Read Blvd, New Orleans",OPERATIONAL
4,Mi Frida Foodtruck llc,5.0,0,1,30.048901,-89.955797,"12300 I-10 Service Rd, New Orleans",OPERATIONAL
5,Tempo Creole Cuisine,5.0,2,9,30.040188,-89.955104,"5931 Bullard Ave #7, New Orleans",OPERATIONAL
6,Perkins Landing,0.0,0,0,30.057435,-89.968539,"11960 Hayne Blvd, New Orleans",OPERATIONAL
7,Easy Seafood,4.5,1,187,30.032148,-89.928627,"Ye Ole Village Shopping Center, 13243 Chef Men...",OPERATIONAL
8,Tony's Super Cajun Seafood,4.1,1,367,30.041705,-89.956851,"5971 Bullard Ave, New Orleans",OPERATIONAL
9,Julie's Kitchen,4.5,1,194,30.030429,-89.970854,"5609 Read Blvd, New Orleans",OPERATIONAL
10,East Seafood LLC,4.5,0,37,30.047860,-89.963149,"7030 Bullard Ave Suite D, New Orleans",OPERATIONAL
11,New Orleans Hamburger & Seafood Co.,4.0,2,687,30.045994,-89.959405,"12000 I-10 Service Rd, New Orleans",OPERATIONAL
12,Cajun Shack NOLA,4.3,0,262,30.030053,-89.977514,"9830 Lake Forest Blvd Suite 110, New Orleans",OPERATIONAL
13,China House Restaurant,3.9,1,217,30.047984,-89.963249,"7040 Bullard Ave, New Orleans",OPERATIONAL
14,Kim Mai,0.0,0,0,30.036907,-89.911314,New Orleans,CLOSED_TEMPORARILY
15,Cajun Seafood,4.0,1,879,30.038565,-89.977726,"7020 Read Blvd, New Orleans",OPERATIONAL
16,M & J Soul Food Restaurant,4.5,1,154,30.029697,-89.982211,"9301 Lake Forest Blvd #107, New Orleans",OPERATIONAL
17,Orleans,0.0,0,0,30.038777,-89.977281,New Orleans,OPERATIONAL
18,Ba Mien Restaurant,4.4,1,121,30.031980,-89.929371,"13235 Chef Menteur Hwy, New Orleans",OPERATIONAL
19,China House Restaurant,0.0,0,0,30.041405,-89.957326,"Bullard Ave, New Orleans",OPERATIONAL

In [26]:
new_orleans_dataframe['City']='New Orleans'
new_orleans_dataframe

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status,City
0,Madchef at 59th,4.4,0,211,30.040686,-89.954955,"5941 Bullard Ave #7, New Orleans",OPERATIONAL,New Orleans
1,Bullard Seafood and Grill,4.3,1,1159,30.048147,-89.962168,"7025 Bullard Ave, New Orleans",OPERATIONAL,New Orleans
2,Vucinovich's,4.7,1,264,30.029991,-89.927849,"4510 Michoud Blvd, New Orleans",OPERATIONAL,New Orleans
3,Burritos Grill Mexican Fresh Cuisine,4.4,0,332,30.038738,-89.976972,"7009 Read Blvd, New Orleans",OPERATIONAL,New Orleans
4,Mi Frida Foodtruck llc,5.0,0,1,30.048901,-89.955797,"12300 I-10 Service Rd, New Orleans",OPERATIONAL,New Orleans
5,Tempo Creole Cuisine,5.0,2,9,30.040188,-89.955104,"5931 Bullard Ave #7, New Orleans",OPERATIONAL,New Orleans
6,Perkins Landing,0.0,0,0,30.057435,-89.968539,"11960 Hayne Blvd, New Orleans",OPERATIONAL,New Orleans
7,Easy Seafood,4.5,1,187,30.032148,-89.928627,"Ye Ole Village Shopping Center, 13243 Chef Men...",OPERATIONAL,New Orleans
8,Tony's Super Cajun Seafood,4.1,1,367,30.041705,-89.956851,"5971 Bullard Ave, New Orleans",OPERATIONAL,New Orleans
9,Julie's Kitchen,4.5,1,194,30.030429,-89.970854,"5609 Read Blvd, New Orleans",OPERATIONAL,New Orleans
10,East Seafood LLC,4.5,0,37,30.047860,-89.963149,"7030 Bullard Ave Suite D, New Orleans",OPERATIONAL,New Orleans
11,New Orleans Hamburger & Seafood Co.,4.0,2,687,30.045994,-89.959405,"12000 I-10 Service Rd, New Orleans",OPERATIONAL,New Orleans
12,Cajun Shack NOLA,4.3,0,262,30.030053,-89.977514,"9830 Lake Forest Blvd Suite 110, New Orleans",OPERATIONAL,New Orleans
13,China House Restaurant,3.9,1,217,30.047984,-89.963249,"7040 Bullard Ave, New Orleans",OPERATIONAL,New Orleans
14,Kim Mai,0.0,0,0,30.036907,-89.911314,New Orleans,CLOSED_TEMPORARILY,New Orleans
15,Cajun Seafood,4.0,1,879,30.038565,-89.977726,"7020 Read Blvd, New Orleans",OPERATIONAL,New Orleans
16,M & J Soul Food Restaurant,4.5,1,154,30.029697,-89.982211,"9301 Lake Forest Blvd #107, New Orleans",OPERATIONAL,New Orleans
17,Orleans,0.0,0,0,30.038777,-89.977281,New Orleans,OPERATIONAL,New Orleans
18,Ba Mien Restaurant,4.4,1,121,30.031980,-89.929371,"13235 Chef Menteur Hwy, New Orleans",OPERATIONAL,New Orleans
19,China House Restaurant,0.0,0,0,30.041405,-89.957326,"Bullard Ave, New Orleans",OPERATIONAL,New Orleans

# Jacksonville

In [27]:
target_coordinates = "30.3322, -81.6749"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
jacksonville_dataframe = pd.DataFrame(review_dict)
jacksonville_dataframe

Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,BB's Restaurant and Bar,4.6,3,1395,30.315806,-81.654604,"1019 Hendricks Ave, Jacksonville",OPERATIONAL
1,Brick Restaurant,4.4,2,1284,30.296726,-81.704119,"3585 St Johns Ave, Jacksonville",OPERATIONAL
2,Taverna,4.5,2,1240,30.303940,-81.654706,"1986 San Marco Blvd, Jacksonville",OPERATIONAL
3,Bellwether,4.6,2,541,30.327572,-81.659938,"117 W Forsyth St, Jacksonville",OPERATIONAL
4,Restaurant Orsay,4.7,3,1620,30.300344,-81.710069,"3630 Park St, Jacksonville",OPERATIONAL
5,Primi Piatti,4.6,0,283,30.310058,-81.694199,"2722 Park St, Jacksonville",OPERATIONAL
6,The Cookbook Restaurant,4.4,0,440,30.346681,-81.658422,"1827 N Pearl St, Jacksonville",OPERATIONAL
7,Fox Restaurant,4.6,1,936,30.296639,-81.703752,"3580 St Johns Ave, Jacksonville",OPERATIONAL
8,Biscottis,4.7,2,1103,30.297039,-81.703290,"3556 St Johns Ave, Jacksonville",OPERATIONAL
9,Matthew's Restaurant,4.7,4,452,30.303936,-81.652263,"2107 Hendricks Ave, Jacksonville",OPERATIONAL
10,Wafaa & Mike's Cafe,4.7,1,392,30.342828,-81.654573,"1544 N Main St, Jacksonville",OPERATIONAL
11,The Southern Grill,4.3,1,1608,30.317651,-81.657479,"800 Flagler Ave, Jacksonville",OPERATIONAL
12,La Cena Ristorante,4.4,3,267,30.313345,-81.719093,"911 Edgewood Ave S, Jacksonville",OPERATIONAL
13,MOCA CAFÉ,4.5,1,46,30.329266,-81.658531,"333 N Laura St, Jacksonville",CLOSED_TEMPORARILY
14,Black Sheep Restaurant,4.4,2,2466,30.312799,-81.680836,"1534 Oak St, Jacksonville",OPERATIONAL
15,Clara's Tidbits Restaurant,4.6,1,523,30.314635,-81.654853,"1076 Hendricks Ave, Jacksonville",OPERATIONAL
16,The olive tree Mediterranean restaurant,4.7,1,478,30.308030,-81.654180,"1705 Hendricks Ave, Jacksonville",OPERATIONAL
17,Pink Salt Restaurant and Wine Bar,4.3,1,567,30.311433,-81.660640,"1430 San Marco Blvd, Jacksonville",OPERATIONAL
18,The Mossfire Grill,4.5,2,1027,30.312976,-81.680936,"1537 Margaret St, Jacksonville",OPERATIONAL
19,The Avenue Grill,4.4,0,166,30.331775,-81.642592,"818 A Philip Randolph Blvd, Jacksonville",OPERATIONAL

In [28]:
jacksonville_dataframe['City']='Jacksonville'
jacksonville_dataframe

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status,City
0,BB's Restaurant and Bar,4.6,3,1395,30.315806,-81.654604,"1019 Hendricks Ave, Jacksonville",OPERATIONAL,Jacksonville
1,Brick Restaurant,4.4,2,1284,30.296726,-81.704119,"3585 St Johns Ave, Jacksonville",OPERATIONAL,Jacksonville
2,Taverna,4.5,2,1240,30.303940,-81.654706,"1986 San Marco Blvd, Jacksonville",OPERATIONAL,Jacksonville
3,Bellwether,4.6,2,541,30.327572,-81.659938,"117 W Forsyth St, Jacksonville",OPERATIONAL,Jacksonville
4,Restaurant Orsay,4.7,3,1620,30.300344,-81.710069,"3630 Park St, Jacksonville",OPERATIONAL,Jacksonville
5,Primi Piatti,4.6,0,283,30.310058,-81.694199,"2722 Park St, Jacksonville",OPERATIONAL,Jacksonville
6,The Cookbook Restaurant,4.4,0,440,30.346681,-81.658422,"1827 N Pearl St, Jacksonville",OPERATIONAL,Jacksonville
7,Fox Restaurant,4.6,1,936,30.296639,-81.703752,"3580 St Johns Ave, Jacksonville",OPERATIONAL,Jacksonville
8,Biscottis,4.7,2,1103,30.297039,-81.703290,"3556 St Johns Ave, Jacksonville",OPERATIONAL,Jacksonville
9,Matthew's Restaurant,4.7,4,452,30.303936,-81.652263,"2107 Hendricks Ave, Jacksonville",OPERATIONAL,Jacksonville
10,Wafaa & Mike's Cafe,4.7,1,392,30.342828,-81.654573,"1544 N Main St, Jacksonville",OPERATIONAL,Jacksonville
11,The Southern Grill,4.3,1,1608,30.317651,-81.657479,"800 Flagler Ave, Jacksonville",OPERATIONAL,Jacksonville
12,La Cena Ristorante,4.4,3,267,30.313345,-81.719093,"911 Edgewood Ave S, Jacksonville",OPERATIONAL,Jacksonville
13,MOCA CAFÉ,4.5,1,46,30.329266,-81.658531,"333 N Laura St, Jacksonville",CLOSED_TEMPORARILY,Jacksonville
14,Black Sheep Restaurant,4.4,2,2466,30.312799,-81.680836,"1534 Oak St, Jacksonville",OPERATIONAL,Jacksonville
15,Clara's Tidbits Restaurant,4.6,1,523,30.314635,-81.654853,"1076 Hendricks Ave, Jacksonville",OPERATIONAL,Jacksonville
16,The olive tree Mediterranean restaurant,4.7,1,478,30.308030,-81.654180,"1705 Hendricks Ave, Jacksonville",OPERATIONAL,Jacksonville
17,Pink Salt Restaurant and Wine Bar,4.3,1,567,30.311433,-81.660640,"1430 San Marco Blvd, Jacksonville",OPERATIONAL,Jacksonville
18,The Mossfire Grill,4.5,2,1027,30.312976,-81.680936,"1537 Margaret St, Jacksonville",OPERATIONAL,Jacksonville
19,The Avenue Grill,4.4,0,166,30.331775,-81.642592,"818 A Philip Randolph Blvd, Jacksonville",OPERATIONAL,Jacksonville

# Memphis

In [29]:
target_coordinates = "35.1046, -89.9773"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
memphis_dataframe = pd.DataFrame(review_dict)
memphis_dataframe

Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Barksdale Restaurant,4.5,1,575,35.132111,-89.990585,"237 Cooper St, Memphis",OPERATIONAL
1,Cafe Society,4.4,3,214,35.143731,-90.003090,"212 N Evergreen St #5210, Memphis",OPERATIONAL
2,Soul Fish Cafe,4.6,2,2726,35.122172,-89.990589,"862 Cooper St, Memphis",OPERATIONAL
3,Casablanca Restaurant,4.4,2,804,35.137927,-90.004344,"1707 Madison Ave, Memphis",OPERATIONAL
4,Char Restaurant,4.5,3,1555,35.119552,-89.946040,"431 S Highland St #120, Memphis",OPERATIONAL
5,Side Street Grill,4.3,2,1084,35.135659,-89.992389,"31 Florence St, Memphis",OPERATIONAL
6,Sweet Grass,4.5,2,232,35.120023,-89.991311,"937 Cooper St, Memphis",CLOSED_TEMPORARILY
7,Cafe Ole,4.0,2,896,35.119441,-89.991225,"959 Cooper St, Memphis",OPERATIONAL
8,Cupboard,4.3,1,2278,35.136948,-90.015154,"1400 Union Ave, Memphis",OPERATIONAL
9,Tsunami,4.7,3,162,35.120392,-89.990775,"928 Cooper St, Memphis",OPERATIONAL
10,Castle Restaurant,4.6,0,200,35.107798,-89.929484,"3992 Park Ave, Memphis",OPERATIONAL
11,The Second Line,4.4,2,671,35.135547,-89.990070,"2144 Monroe Ave, Memphis",OPERATIONAL
12,Bounty on Broad,4.4,3,413,35.147869,-89.975403,"2519 Broad Ave, Memphis",OPERATIONAL
13,Central BBQ - Midtown,4.5,1,4374,35.125814,-89.987062,"2249 Central Ave, Memphis",OPERATIONAL
14,Pete and Sam's,4.3,2,752,35.107938,-89.933048,"3886 Park Ave, Memphis",OPERATIONAL
15,Coletta's Italian Restaurant,4.2,2,1570,35.109374,-90.027048,"1063 S Pkwy E, Memphis",OPERATIONAL
16,Memphis Pizza Cafe,4.5,1,833,35.136703,-89.991783,"2087 Madison Ave, Memphis",OPERATIONAL
17,Huey's Midtown,4.5,1,2556,35.137255,-89.997125,"1927 Madison Ave, Memphis",OPERATIONAL
18,Los Comales Mexican Bar & Grill,4.5,1,1392,35.139132,-90.017025,"1322 Madison Ave, Memphis",OPERATIONAL
19,Medallion Restaurant & Lounge,3.0,0,2,35.123830,-89.938322,"3700 Central Ave, Memphis",OPERATIONAL

In [30]:
memphis_dataframe['City']='Memphis'
memphis_dataframe

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status,City
0,Barksdale Restaurant,4.5,1,575,35.132111,-89.990585,"237 Cooper St, Memphis",OPERATIONAL,Memphis
1,Cafe Society,4.4,3,214,35.143731,-90.003090,"212 N Evergreen St #5210, Memphis",OPERATIONAL,Memphis
2,Soul Fish Cafe,4.6,2,2726,35.122172,-89.990589,"862 Cooper St, Memphis",OPERATIONAL,Memphis
3,Casablanca Restaurant,4.4,2,804,35.137927,-90.004344,"1707 Madison Ave, Memphis",OPERATIONAL,Memphis
4,Char Restaurant,4.5,3,1555,35.119552,-89.946040,"431 S Highland St #120, Memphis",OPERATIONAL,Memphis
5,Side Street Grill,4.3,2,1084,35.135659,-89.992389,"31 Florence St, Memphis",OPERATIONAL,Memphis
6,Sweet Grass,4.5,2,232,35.120023,-89.991311,"937 Cooper St, Memphis",CLOSED_TEMPORARILY,Memphis
7,Cafe Ole,4.0,2,896,35.119441,-89.991225,"959 Cooper St, Memphis",OPERATIONAL,Memphis
8,Cupboard,4.3,1,2278,35.136948,-90.015154,"1400 Union Ave, Memphis",OPERATIONAL,Memphis
9,Tsunami,4.7,3,162,35.120392,-89.990775,"928 Cooper St, Memphis",OPERATIONAL,Memphis
10,Castle Restaurant,4.6,0,200,35.107798,-89.929484,"3992 Park Ave, Memphis",OPERATIONAL,Memphis
11,The Second Line,4.4,2,671,35.135547,-89.990070,"2144 Monroe Ave, Memphis",OPERATIONAL,Memphis
12,Bounty on Broad,4.4,3,413,35.147869,-89.975403,"2519 Broad Ave, Memphis",OPERATIONAL,Memphis
13,Central BBQ - Midtown,4.5,1,4374,35.125814,-89.987062,"2249 Central Ave, Memphis",OPERATIONAL,Memphis
14,Pete and Sam's,4.3,2,752,35.107938,-89.933048,"3886 Park Ave, Memphis",OPERATIONAL,Memphis
15,Coletta's Italian Restaurant,4.2,2,1570,35.109374,-90.027048,"1063 S Pkwy E, Memphis",OPERATIONAL,Memphis
16,Memphis Pizza Cafe,4.5,1,833,35.136703,-89.991783,"2087 Madison Ave, Memphis",OPERATIONAL,Memphis
17,Huey's Midtown,4.5,1,2556,35.137255,-89.997125,"1927 Madison Ave, Memphis",OPERATIONAL,Memphis
18,Los Comales Mexican Bar & Grill,4.5,1,1392,35.139132,-90.017025,"1322 Madison Ave, Memphis",OPERATIONAL,Memphis
19,Medallion Restaurant & Lounge,3.0,0,2,35.123830,-89.938322,"3700 Central Ave, Memphis",OPERATIONAL,Memphis

# Raleigh

In [31]:
target_coordinates = "35.8325, -78.6435"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
raleigh_dataframe = pd.DataFrame(review_dict)
raleigh_dataframe

Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Glenwood Grill & Annex,4.5,2,360,35.815310,-78.660349,"2603 Glenwood Ave, Raleigh",OPERATIONAL
1,Crawford and Son,4.7,3,525,35.788800,-78.634141,"618 N Person St, Raleigh",OPERATIONAL
2,Vic's Italian Restaurant & Pizzeria,4.4,2,736,35.815293,-78.697240,"4035 Lake Boone Trail STE 109, Raleigh",OPERATIONAL
3,Cafe Tiramisu,4.7,2,201,35.865180,-78.619090,"6008 Falls of Neuse Rd, Raleigh",OPERATIONAL
4,Jolie Restaurant,4.6,0,194,35.788859,-78.634177,"620 N Person St, Raleigh",OPERATIONAL
5,Midtown Grille,4.3,3,391,35.839825,-78.643333,"4421 Six Forks Rd #115, Raleigh",OPERATIONAL
6,Braise Contemporary Southern,4.6,0,36,35.842725,-78.678258,"4500 Marriott Dr, Raleigh",OPERATIONAL
7,Cantina 18,4.3,2,621,35.789912,-78.661678,"433 Daniels St, Raleigh",OPERATIONAL
8,Vivace,4.5,2,681,35.839123,-78.644984,"4209 Lassiter Mill Rd Suite 115, Raleigh",OPERATIONAL
9,Salt & Lime Cabo Grill,4.5,2,1733,35.865153,-78.619087,"6006 Falls of Neuse Rd, Raleigh",OPERATIONAL
10,The Melting Pot,4.3,3,908,35.824252,-78.621291,"3100 Wake Forest Rd, Raleigh",OPERATIONAL
11,Bloomsbury Bistro,4.6,3,282,35.804037,-78.644615,"509-101 W Whitaker Mill Rd, Raleigh",OPERATIONAL
12,The Bistro – Eat. Drink. Connect.®,5.0,0,3,35.835026,-78.673541,"3908 Arrow Dr, Raleigh",OPERATIONAL
13,J. Alexander's Restaurant,4.5,3,2069,35.840579,-78.684468,"4600 Crabtree Valley Ave, Raleigh",OPERATIONAL
14,Rosewater Kitchen & Bar,4.5,0,222,35.837472,-78.640255,"110 Park at N Hills St, Raleigh",OPERATIONAL
15,Guasaca,4.6,1,2508,35.815134,-78.696558,"4025 Lake Boone Trail # 107, Raleigh",OPERATIONAL
16,Saint Jacques,4.7,3,468,35.866134,-78.618199,"6112 Falls of Neuse Rd, Raleigh",OPERATIONAL
17,Circus Family Restaurant,4.0,1,522,35.800304,-78.624916,"1600 Wake Forest Rd, Raleigh",OPERATIONAL
18,Watkins Grill,4.6,1,586,35.801849,-78.625023,"1625 Wake Forest Rd, Raleigh",OPERATIONAL
19,Italian Kitchen,4.2,1,262,35.835635,-78.615399,"4005 Wake Forest Rd, Raleigh",OPERATIONAL

In [32]:
raleigh_dataframe['City']='Raleigh'
raleigh_dataframe

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status,City
0,Glenwood Grill & Annex,4.5,2,360,35.815310,-78.660349,"2603 Glenwood Ave, Raleigh",OPERATIONAL,Raleigh
1,Crawford and Son,4.7,3,525,35.788800,-78.634141,"618 N Person St, Raleigh",OPERATIONAL,Raleigh
2,Vic's Italian Restaurant & Pizzeria,4.4,2,736,35.815293,-78.697240,"4035 Lake Boone Trail STE 109, Raleigh",OPERATIONAL,Raleigh
3,Cafe Tiramisu,4.7,2,201,35.865180,-78.619090,"6008 Falls of Neuse Rd, Raleigh",OPERATIONAL,Raleigh
4,Jolie Restaurant,4.6,0,194,35.788859,-78.634177,"620 N Person St, Raleigh",OPERATIONAL,Raleigh
5,Midtown Grille,4.3,3,391,35.839825,-78.643333,"4421 Six Forks Rd #115, Raleigh",OPERATIONAL,Raleigh
6,Braise Contemporary Southern,4.6,0,36,35.842725,-78.678258,"4500 Marriott Dr, Raleigh",OPERATIONAL,Raleigh
7,Cantina 18,4.3,2,621,35.789912,-78.661678,"433 Daniels St, Raleigh",OPERATIONAL,Raleigh
8,Vivace,4.5,2,681,35.839123,-78.644984,"4209 Lassiter Mill Rd Suite 115, Raleigh",OPERATIONAL,Raleigh
9,Salt & Lime Cabo Grill,4.5,2,1733,35.865153,-78.619087,"6006 Falls of Neuse Rd, Raleigh",OPERATIONAL,Raleigh
10,The Melting Pot,4.3,3,908,35.824252,-78.621291,"3100 Wake Forest Rd, Raleigh",OPERATIONAL,Raleigh
11,Bloomsbury Bistro,4.6,3,282,35.804037,-78.644615,"509-101 W Whitaker Mill Rd, Raleigh",OPERATIONAL,Raleigh
12,The Bistro – Eat. Drink. Connect.®,5.0,0,3,35.835026,-78.673541,"3908 Arrow Dr, Raleigh",OPERATIONAL,Raleigh
13,J. Alexander's Restaurant,4.5,3,2069,35.840579,-78.684468,"4600 Crabtree Valley Ave, Raleigh",OPERATIONAL,Raleigh
14,Rosewater Kitchen & Bar,4.5,0,222,35.837472,-78.640255,"110 Park at N Hills St, Raleigh",OPERATIONAL,Raleigh
15,Guasaca,4.6,1,2508,35.815134,-78.696558,"4025 Lake Boone Trail # 107, Raleigh",OPERATIONAL,Raleigh
16,Saint Jacques,4.7,3,468,35.866134,-78.618199,"6112 Falls of Neuse Rd, Raleigh",OPERATIONAL,Raleigh
17,Circus Family Restaurant,4.0,1,522,35.800304,-78.624916,"1600 Wake Forest Rd, Raleigh",OPERATIONAL,Raleigh
18,Watkins Grill,4.6,1,586,35.801849,-78.625023,"1625 Wake Forest Rd, Raleigh",OPERATIONAL,Raleigh
19,Italian Kitchen,4.2,1,262,35.835635,-78.615399,"4005 Wake Forest Rd, Raleigh",OPERATIONAL,Raleigh

# Baltimore

In [33]:
target_coordinates = "39.3051, -76.6144"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
baltimore_dataframe = pd.DataFrame(review_dict)
baltimore_dataframe

Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,La Cuchara,4.7,3,883,39.330756,-76.642094,"3600 Clipper Mill Rd, Baltimore",OPERATIONAL
1,The Helmand,4.6,2,797,39.299035,-76.615895,"806 N Charles St, Baltimore",OPERATIONAL
2,Telltale Restaurant,4.0,0,40,39.288563,-76.614930,Baltimore,CLOSED_TEMPORARILY
3,Maximón,4.4,0,395,39.282389,-76.602543,"200 International Drive, Baltimore",OPERATIONAL
4,La Calle Restaurant,4.7,2,317,39.289168,-76.611170,"10 South St, Baltimore",OPERATIONAL
5,Tagliata,4.5,3,940,39.284538,-76.599697,"1012 Fleet St, Baltimore",OPERATIONAL
6,Peppa Flame Restaurant and Lounge,4.2,2,226,39.270614,-76.594217,"1401 E Clement St, Baltimore",OPERATIONAL
7,Mi Comalito Restaurant and Bar 2101 North Char...,4.4,1,345,39.313366,-76.616349,"2101 N Charles St, Baltimore",OPERATIONAL
8,Cafe Gia Ristorante,4.5,2,470,39.285359,-76.601377,"410 S High St, Baltimore",OPERATIONAL
9,Chef BobbyD Restaurant and Catering,4.5,2,393,39.337440,-76.637526,"4032 Falls Rd, Baltimore",OPERATIONAL
10,Forno Restaurant + Wine Bar,4.3,2,466,39.289980,-76.620716,"17 N Eutaw St, Baltimore",OPERATIONAL
11,"Magdalena, A Maryland Bistro",4.7,4,192,39.303453,-76.612797,"205 E Biddle St, Baltimore",OPERATIONAL
12,17 Light Restaurant,3.8,2,96,39.288729,-76.613425,"17 Light St, Baltimore",OPERATIONAL
13,Hibiscus Restaurant,4.1,0,46,39.317937,-76.618781,"110 W 25th St, Baltimore",OPERATIONAL
14,Cafe Fili,4.6,2,335,39.299347,-76.617280,"816 Cathedral St, Baltimore",OPERATIONAL
15,Charleston,4.7,4,750,39.282554,-76.599713,"1000 Lancaster St, Baltimore",OPERATIONAL
16,Ida B's Table,4.4,2,1182,39.292375,-76.610203,"235 Holliday St, Baltimore",OPERATIONAL
17,Restaurant,0.0,0,0,39.283933,-76.585557,"2200 Boston St, Baltimore",OPERATIONAL
18,Italiano's Restaurant,4.1,2,2160,39.269880,-76.648292,"2229 Washington Blvd, Baltimore",OPERATIONAL
19,Mezze Restaurant,4.3,2,257,39.281191,-76.594738,"1606 Thames St, Baltimore",CLOSED_TEMPORARILY

In [34]:
baltimore_dataframe['City']='Baltimore'
baltimore_dataframe

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status,City
0,La Cuchara,4.7,3,883,39.330756,-76.642094,"3600 Clipper Mill Rd, Baltimore",OPERATIONAL,Baltimore
1,The Helmand,4.6,2,797,39.299035,-76.615895,"806 N Charles St, Baltimore",OPERATIONAL,Baltimore
2,Telltale Restaurant,4.0,0,40,39.288563,-76.614930,Baltimore,CLOSED_TEMPORARILY,Baltimore
3,Maximón,4.4,0,395,39.282389,-76.602543,"200 International Drive, Baltimore",OPERATIONAL,Baltimore
4,La Calle Restaurant,4.7,2,317,39.289168,-76.611170,"10 South St, Baltimore",OPERATIONAL,Baltimore
5,Tagliata,4.5,3,940,39.284538,-76.599697,"1012 Fleet St, Baltimore",OPERATIONAL,Baltimore
6,Peppa Flame Restaurant and Lounge,4.2,2,226,39.270614,-76.594217,"1401 E Clement St, Baltimore",OPERATIONAL,Baltimore
7,Mi Comalito Restaurant and Bar 2101 North Char...,4.4,1,345,39.313366,-76.616349,"2101 N Charles St, Baltimore",OPERATIONAL,Baltimore
8,Cafe Gia Ristorante,4.5,2,470,39.285359,-76.601377,"410 S High St, Baltimore",OPERATIONAL,Baltimore
9,Chef BobbyD Restaurant and Catering,4.5,2,393,39.337440,-76.637526,"4032 Falls Rd, Baltimore",OPERATIONAL,Baltimore
10,Forno Restaurant + Wine Bar,4.3,2,466,39.289980,-76.620716,"17 N Eutaw St, Baltimore",OPERATIONAL,Baltimore
11,"Magdalena, A Maryland Bistro",4.7,4,192,39.303453,-76.612797,"205 E Biddle St, Baltimore",OPERATIONAL,Baltimore
12,17 Light Restaurant,3.8,2,96,39.288729,-76.613425,"17 Light St, Baltimore",OPERATIONAL,Baltimore
13,Hibiscus Restaurant,4.1,0,46,39.317937,-76.618781,"110 W 25th St, Baltimore",OPERATIONAL,Baltimore
14,Cafe Fili,4.6,2,335,39.299347,-76.617280,"816 Cathedral St, Baltimore",OPERATIONAL,Baltimore
15,Charleston,4.7,4,750,39.282554,-76.599713,"1000 Lancaster St, Baltimore",OPERATIONAL,Baltimore
16,Ida B's Table,4.4,2,1182,39.292375,-76.610203,"235 Holliday St, Baltimore",OPERATIONAL,Baltimore
17,Restaurant,0.0,0,0,39.283933,-76.585557,"2200 Boston St, Baltimore",OPERATIONAL,Baltimore
18,Italiano's Restaurant,4.1,2,2160,39.269880,-76.648292,"2229 Washington Blvd, Baltimore",OPERATIONAL,Baltimore
19,Mezze Restaurant,4.3,2,257,39.281191,-76.594738,"1606 Thames St, Baltimore",CLOSED_TEMPORARILY,Baltimore

# St. Louis

In [35]:
target_coordinates = "38.6358, -90.2451"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
st_louis_dataframe = pd.DataFrame(review_dict)
st_louis_dataframe

Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Sultan Mediterranean Restaurant,4.7,2,697,38.627149,-90.254366,"4200 Manchester Ave, St. Louis",OPERATIONAL
1,Layla,4.5,2,1710,38.627153,-90.257573,"4317 Manchester Ave, St. Louis",OPERATIONAL
2,Biggie's Restaurant,4.5,2,873,38.601621,-90.299116,"3332 Watson Rd, St. Louis",OPERATIONAL
3,Beffa's Bar & Restaurant,4.7,0,220,38.633448,-90.216786,"2700 Olive St, St. Louis",OPERATIONAL
4,Medina Grill,4.8,1,324,38.644931,-90.261816,"5 Maryland Plaza, St. Louis",OPERATIONAL
5,Lombardo's Trattoria,4.5,3,746,38.627969,-90.210179,"Lower Level of Drury Inn, 201 S 20th St, St. L...",OPERATIONAL
6,Stone Turtle Restaurant and Bar,4.5,2,458,38.628704,-90.292728,"6335 Clayton Ave, St. Louis",OPERATIONAL
7,Panorama Restaurant,4.3,0,53,38.638890,-90.293704,"1 Fine Arts Dr, St. Louis",OPERATIONAL
8,Eclipse Restaurant,4.0,2,110,38.655805,-90.298809,"6177 Delmar Blvd, St. Louis",OPERATIONAL
9,Guido's Pizzeria & Tapas,4.5,2,1647,38.617568,-90.270421,"5046 Shaw Ave, St. Louis",OPERATIONAL
10,Bulrush StL Restaurant,4.9,0,159,38.638005,-90.226554,"3307 Washington Ave, St. Louis",OPERATIONAL
11,Cunetto House of Pasta,4.6,2,1489,38.610341,-90.280272,"5453 Magnolia Ave, St. Louis",OPERATIONAL
12,El Maguey Mexican Restaurant,4.2,1,726,38.592390,-90.271562,"3710 S Kingshighway Blvd, St. Louis",OPERATIONAL
13,Zia's Restaurant and Catering,4.6,2,2608,38.615733,-90.274971,"5256 Wilson Ave, St. Louis",OPERATIONAL
14,Chava's Mexican Restaurant,4.5,2,1628,38.608833,-90.205473,"925 Geyer Ave #3921, St. Louis",OPERATIONAL
15,Everest Cafe & Bar,4.6,1,647,38.627850,-90.251930,"4145 Manchester Ave, St. Louis",OPERATIONAL
16,Bar Italia,4.3,2,390,38.645013,-90.262027,"13 Maryland Plaza, St. Louis",OPERATIONAL
17,Mama’s On The Hill,4.5,2,2403,38.614952,-90.275169,"2132 Edwards St, St. Louis",OPERATIONAL
18,Frazer's Restaurant & Lounge,4.7,2,604,38.599082,-90.216580,"1811 Pestalozzi St, St. Louis",OPERATIONAL
19,Buttery Restaurant,4.3,1,721,38.590671,-90.244392,"3659 S Grand Blvd, St. Louis",OPERATIONAL

In [36]:
st_louis_dataframe['City']='St. Louis'
st_louis_dataframe

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status,City
0,Sultan Mediterranean Restaurant,4.7,2,697,38.627149,-90.254366,"4200 Manchester Ave, St. Louis",OPERATIONAL,St. Louis
1,Layla,4.5,2,1710,38.627153,-90.257573,"4317 Manchester Ave, St. Louis",OPERATIONAL,St. Louis
2,Biggie's Restaurant,4.5,2,873,38.601621,-90.299116,"3332 Watson Rd, St. Louis",OPERATIONAL,St. Louis
3,Beffa's Bar & Restaurant,4.7,0,220,38.633448,-90.216786,"2700 Olive St, St. Louis",OPERATIONAL,St. Louis
4,Medina Grill,4.8,1,324,38.644931,-90.261816,"5 Maryland Plaza, St. Louis",OPERATIONAL,St. Louis
5,Lombardo's Trattoria,4.5,3,746,38.627969,-90.210179,"Lower Level of Drury Inn, 201 S 20th St, St. L...",OPERATIONAL,St. Louis
6,Stone Turtle Restaurant and Bar,4.5,2,458,38.628704,-90.292728,"6335 Clayton Ave, St. Louis",OPERATIONAL,St. Louis
7,Panorama Restaurant,4.3,0,53,38.638890,-90.293704,"1 Fine Arts Dr, St. Louis",OPERATIONAL,St. Louis
8,Eclipse Restaurant,4.0,2,110,38.655805,-90.298809,"6177 Delmar Blvd, St. Louis",OPERATIONAL,St. Louis
9,Guido's Pizzeria & Tapas,4.5,2,1647,38.617568,-90.270421,"5046 Shaw Ave, St. Louis",OPERATIONAL,St. Louis
10,Bulrush StL Restaurant,4.9,0,159,38.638005,-90.226554,"3307 Washington Ave, St. Louis",OPERATIONAL,St. Louis
11,Cunetto House of Pasta,4.6,2,1489,38.610341,-90.280272,"5453 Magnolia Ave, St. Louis",OPERATIONAL,St. Louis
12,El Maguey Mexican Restaurant,4.2,1,726,38.592390,-90.271562,"3710 S Kingshighway Blvd, St. Louis",OPERATIONAL,St. Louis
13,Zia's Restaurant and Catering,4.6,2,2608,38.615733,-90.274971,"5256 Wilson Ave, St. Louis",OPERATIONAL,St. Louis
14,Chava's Mexican Restaurant,4.5,2,1628,38.608833,-90.205473,"925 Geyer Ave #3921, St. Louis",OPERATIONAL,St. Louis
15,Everest Cafe & Bar,4.6,1,647,38.627850,-90.251930,"4145 Manchester Ave, St. Louis",OPERATIONAL,St. Louis
16,Bar Italia,4.3,2,390,38.645013,-90.262027,"13 Maryland Plaza, St. Louis",OPERATIONAL,St. Louis
17,Mama’s On The Hill,4.5,2,2403,38.614952,-90.275169,"2132 Edwards St, St. Louis",OPERATIONAL,St. Louis
18,Frazer's Restaurant & Lounge,4.7,2,604,38.599082,-90.216580,"1811 Pestalozzi St, St. Louis",OPERATIONAL,St. Louis
19,Buttery Restaurant,4.3,1,721,38.590671,-90.244392,"3659 S Grand Blvd, St. Louis",OPERATIONAL,St. Louis

# Washington

In [37]:
target_coordinates = "38.9047, -77.0163"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
washington_dataframe = pd.DataFrame(review_dict)
washington_dataframe

Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Yafa Grille,4.3,1,283,38.901013,-77.032383,"1400 I St NW, Washington",OPERATIONAL
1,LiLLiES Restaurant & Bar,4.3,2,417,38.928496,-77.054074,"2915 Connecticut Ave NW, Washington",OPERATIONAL
2,The Monocle Restaurant,4.6,3,380,38.894686,-77.005170,"107 D St NE, Washington",OPERATIONAL
3,Old Ebbitt Grill,4.6,2,12588,38.897948,-77.033248,"675 15th St NW, Washington",OPERATIONAL
4,Unconventional Diner,4.6,2,1895,38.906051,-77.023744,"1207 9th St NW, Washington",OPERATIONAL
5,RPM Italian,4.5,3,1954,38.902256,-77.021236,"650 K St NW, Washington",OPERATIONAL
6,la Betty,4.7,0,82,38.902236,-77.016349,"420 K St NW, Washington",CLOSED_TEMPORARILY
7,1789 Restaurant & Bar,4.6,4,471,38.906028,-77.070409,"1226 36th St NW, Washington",OPERATIONAL
8,Avenue Grill,3.8,2,77,38.896341,-77.031169,"1331 Pennsylvania Avenue NW, Washington",OPERATIONAL
9,Juniper Restaurant,4.0,3,39,38.905470,-77.051646,"2401 M St NW, Washington",OPERATIONAL
10,Siroc Restaurant,4.4,2,402,38.901826,-77.033358,"915 15th St NW, Washington",OPERATIONAL
11,North Italia,4.4,2,640,38.901536,-77.047877,"2112 Pennsylvania Avenue NW Ste 102, Washington",OPERATIONAL
12,Maydan,4.7,3,1103,38.920027,-77.031065,"1346 Florida Ave NW, Washington",OPERATIONAL
13,Ris,4.4,3,280,38.903904,-77.049883,"2275 L St NW, Washington",OPERATIONAL
14,Mezè Restaurant,4.5,2,460,38.921488,-77.041922,"2437 18th St NW, Washington",OPERATIONAL
15,Annabelle,4.4,0,106,38.912755,-77.047208,"2132 Florida Ave NW, Washington",OPERATIONAL
16,Founding Farmers DC,4.4,2,12125,38.900357,-77.044431,"1924 Pennsylvania Avenue NW, Washington",OPERATIONAL
17,Hitching Post Restaurant,4.4,2,434,38.942036,-77.013805,"200 Upshur St NW, Washington",OPERATIONAL
18,Haydee's Restaurant,4.2,1,446,38.928985,-77.037678,"3102 Mt Pleasant St NW, Washington",OPERATIONAL
19,Filomena Ristorante,4.6,3,3351,38.904428,-77.062607,"1063 Wisconsin Ave NW, Washington",OPERATIONAL

In [38]:
washington_dataframe['City']='Washington'
washington_dataframe

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status,City
0,Yafa Grille,4.3,1,283,38.901013,-77.032383,"1400 I St NW, Washington",OPERATIONAL,Washington
1,LiLLiES Restaurant & Bar,4.3,2,417,38.928496,-77.054074,"2915 Connecticut Ave NW, Washington",OPERATIONAL,Washington
2,The Monocle Restaurant,4.6,3,380,38.894686,-77.005170,"107 D St NE, Washington",OPERATIONAL,Washington
3,Old Ebbitt Grill,4.6,2,12588,38.897948,-77.033248,"675 15th St NW, Washington",OPERATIONAL,Washington
4,Unconventional Diner,4.6,2,1895,38.906051,-77.023744,"1207 9th St NW, Washington",OPERATIONAL,Washington
5,RPM Italian,4.5,3,1954,38.902256,-77.021236,"650 K St NW, Washington",OPERATIONAL,Washington
6,la Betty,4.7,0,82,38.902236,-77.016349,"420 K St NW, Washington",CLOSED_TEMPORARILY,Washington
7,1789 Restaurant & Bar,4.6,4,471,38.906028,-77.070409,"1226 36th St NW, Washington",OPERATIONAL,Washington
8,Avenue Grill,3.8,2,77,38.896341,-77.031169,"1331 Pennsylvania Avenue NW, Washington",OPERATIONAL,Washington
9,Juniper Restaurant,4.0,3,39,38.905470,-77.051646,"2401 M St NW, Washington",OPERATIONAL,Washington
10,Siroc Restaurant,4.4,2,402,38.901826,-77.033358,"915 15th St NW, Washington",OPERATIONAL,Washington
11,North Italia,4.4,2,640,38.901536,-77.047877,"2112 Pennsylvania Avenue NW Ste 102, Washington",OPERATIONAL,Washington
12,Maydan,4.7,3,1103,38.920027,-77.031065,"1346 Florida Ave NW, Washington",OPERATIONAL,Washington
13,Ris,4.4,3,280,38.903904,-77.049883,"2275 L St NW, Washington",OPERATIONAL,Washington
14,Mezè Restaurant,4.5,2,460,38.921488,-77.041922,"2437 18th St NW, Washington",OPERATIONAL,Washington
15,Annabelle,4.4,0,106,38.912755,-77.047208,"2132 Florida Ave NW, Washington",OPERATIONAL,Washington
16,Founding Farmers DC,4.4,2,12125,38.900357,-77.044431,"1924 Pennsylvania Avenue NW, Washington",OPERATIONAL,Washington
17,Hitching Post Restaurant,4.4,2,434,38.942036,-77.013805,"200 Upshur St NW, Washington",OPERATIONAL,Washington
18,Haydee's Restaurant,4.2,1,446,38.928985,-77.037678,"3102 Mt Pleasant St NW, Washington",OPERATIONAL,Washington
19,Filomena Ristorante,4.6,3,3351,38.904428,-77.062607,"1063 Wisconsin Ave NW, Washington",OPERATIONAL,Washington

# Providence

In [39]:
target_coordinates = "41.8230, -71.4187"
# target_search = "mexican"
target_search = "restaurant"
# meters is the units
target_radius = 5000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# frame_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=input=location=33.753746%2C+-84.386330&keyword=mexican&radius=1000&type=restaurant&key=API_KEY_HERE"  

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()
    
# Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

name = []
rating = []
user_ratings_total = []
latitude = []
longitude = []
business_status = [] 
price_level = []
vicinity = []

for r in range(len(places_data["results"])):
    #try/except block
    try:
        business_status.append(places_data["results"][r]["business_status"])
        latitude.append(places_data["results"][r]["geometry"]["location"]["lat"])
        longitude.append(places_data["results"][r]["geometry"]["location"]["lng"])
        name.append(places_data["results"][r]["name"])
        rating.append(places_data["results"][r]["rating"])
        user_ratings_total.append(places_data["results"][r]["user_ratings_total"])
        vicinity.append(places_data["results"][r]["vicinity"])
        price_level.append(places_data["results"][r]["price_level"])
    except Exception:
    #if there is a 0 the restaurant has no price level ascoiated with it.
        print("Restaurant has no price level. Skipping...")
   
        price_level.append(0)

   
review_dict = {
#     "Restaurant":name,
#     "Rating":rating,
#     "Business Status":business_status,
#     "user_ratings_total":user_ratings_total,
#     "latitude":latitude,
#     "longitude":longitude,
#     "vicinity":vicinity,
#     "price_level":price_level
    
    "Restaurant":name,
    "Rating":rating,
    "price_level":price_level,
    "user_ratings_total":user_ratings_total,
    "latitude":latitude,
    "longitude":longitude,
    "vicinity":vicinity,
    "Business Status":business_status
    
    
} 
# establish dataframe
providence_dataframe = pd.DataFrame(review_dict)
providence_dataframe

Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...
Restaurant has no price level. Skipping...

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status
0,Hemenway's Restaurant,4.6,4,1515,41.824213,-71.406913,"121 S Main St, Providence",OPERATIONAL
1,IL Fornello Restaurant,4.6,2,367,41.861128,-71.423071,"16 Josephine St, North Providence",OPERATIONAL
2,Louis Family Restaurant,4.4,1,335,41.824643,-71.399099,"286 Brook St, Providence",OPERATIONAL
3,Madeira Restaurant,4.1,2,908,41.814294,-71.371906,"288 Warren Ave, East Providence",OPERATIONAL
4,Cafe Nuovo,4.7,3,610,41.827419,-71.410736,"One Citizens Plaza, Providence",OPERATIONAL
5,Marchetti's Restaurant,4.6,2,2731,41.783285,-71.463589,"1463 Park Ave, Cranston",OPERATIONAL
6,MamaJuana Restaurant Pawtucket RI,4.5,0,276,41.866920,-71.398619,"904 Main St, Pawtucket",OPERATIONAL
7,Layali Restaurant Bar,4.7,0,193,41.824233,-71.409481,"36 Weybosset St, Providence",OPERATIONAL
8,Mills Tavern,4.5,3,353,41.828063,-71.409143,"101 N Main St, Providence",OPERATIONAL
9,Twin Oaks Restaurant,4.4,2,2719,41.789111,-71.441200,"100 Sabra St, Cranston",OPERATIONAL
10,Al Forno Restaurant,4.6,2,596,41.817314,-71.400624,"577 S Water St, Providence",OPERATIONAL
11,Cassarino's Restaurant,4.6,2,576,41.823533,-71.423851,"177 Atwells Ave, Providence",OPERATIONAL
12,Sorrento Restaurant,4.4,2,310,41.854487,-71.474700,"1848 Smith St, North Providence",OPERATIONAL
13,north,4.4,2,389,41.823137,-71.415783,"122 Fountain St, Providence",OPERATIONAL
14,T's Restaurant Cranston,4.4,2,1158,41.782618,-71.444732,"1059 Park Ave, Cranston",OPERATIONAL
15,Massimo Ristorante,4.5,2,1171,41.823182,-71.422352,"134 Atwells Ave, Providence",OPERATIONAL
16,Pito Restaurant,4.5,1,418,41.796756,-71.413152,"1029 Broad St, Providence",OPERATIONAL
17,Mi Porcion Restaurant,4.6,0,21,41.823109,-71.450477,"319 Manton Ave, Providence",OPERATIONAL
18,Joe Marzilli's Old Canteen Italian Restaurant,4.6,2,515,41.823164,-71.421970,"120 Atwells Ave, Providence",OPERATIONAL
19,Rosalina,4.5,2,369,41.821988,-71.415743,"50 Aborn St, Providence",OPERATIONAL

In [40]:
providence_dataframe['City']='Providence'
providence_dataframe

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status,City
0,Hemenway's Restaurant,4.6,4,1515,41.824213,-71.406913,"121 S Main St, Providence",OPERATIONAL,Providence
1,IL Fornello Restaurant,4.6,2,367,41.861128,-71.423071,"16 Josephine St, North Providence",OPERATIONAL,Providence
2,Louis Family Restaurant,4.4,1,335,41.824643,-71.399099,"286 Brook St, Providence",OPERATIONAL,Providence
3,Madeira Restaurant,4.1,2,908,41.814294,-71.371906,"288 Warren Ave, East Providence",OPERATIONAL,Providence
4,Cafe Nuovo,4.7,3,610,41.827419,-71.410736,"One Citizens Plaza, Providence",OPERATIONAL,Providence
5,Marchetti's Restaurant,4.6,2,2731,41.783285,-71.463589,"1463 Park Ave, Cranston",OPERATIONAL,Providence
6,MamaJuana Restaurant Pawtucket RI,4.5,0,276,41.866920,-71.398619,"904 Main St, Pawtucket",OPERATIONAL,Providence
7,Layali Restaurant Bar,4.7,0,193,41.824233,-71.409481,"36 Weybosset St, Providence",OPERATIONAL,Providence
8,Mills Tavern,4.5,3,353,41.828063,-71.409143,"101 N Main St, Providence",OPERATIONAL,Providence
9,Twin Oaks Restaurant,4.4,2,2719,41.789111,-71.441200,"100 Sabra St, Cranston",OPERATIONAL,Providence
10,Al Forno Restaurant,4.6,2,596,41.817314,-71.400624,"577 S Water St, Providence",OPERATIONAL,Providence
11,Cassarino's Restaurant,4.6,2,576,41.823533,-71.423851,"177 Atwells Ave, Providence",OPERATIONAL,Providence
12,Sorrento Restaurant,4.4,2,310,41.854487,-71.474700,"1848 Smith St, North Providence",OPERATIONAL,Providence
13,north,4.4,2,389,41.823137,-71.415783,"122 Fountain St, Providence",OPERATIONAL,Providence
14,T's Restaurant Cranston,4.4,2,1158,41.782618,-71.444732,"1059 Park Ave, Cranston",OPERATIONAL,Providence
15,Massimo Ristorante,4.5,2,1171,41.823182,-71.422352,"134 Atwells Ave, Providence",OPERATIONAL,Providence
16,Pito Restaurant,4.5,1,418,41.796756,-71.413152,"1029 Broad St, Providence",OPERATIONAL,Providence
17,Mi Porcion Restaurant,4.6,0,21,41.823109,-71.450477,"319 Manton Ave, Providence",OPERATIONAL,Providence
18,Joe Marzilli's Old Canteen Italian Restaurant,4.6,2,515,41.823164,-71.421970,"120 Atwells Ave, Providence",OPERATIONAL,Providence
19,Rosalina,4.5,2,369,41.821988,-71.415743,"50 Aborn St, Providence",OPERATIONAL,Providence

In [42]:
# mergeing the dataframes
country_df = [denver_dataframe,chicago_dataframe, 
                 new_orleans_dataframe, jacksonville_dataframe, 
                 memphis_dataframe, raleigh_dataframe, baltimore_dataframe, 
                 st_louis_dataframe, washington_dataframe, providence_dataframe]
result = pd.concat(country_df)
display(result)

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status,City
0,Rocky Mountain Sudanese's restaurant,4.9,0,86,39.739778,-104.869816,"10180 E Colfax Ave, Aurora",CLOSED_TEMPORARILY,Denver
1,FIFTY300 Restaurant,3.8,0,21,39.769882,-104.903991,"3801 Quebec St, Denver",OPERATIONAL,Denver
2,Ted'z Place Restaurant and Lounge,4.5,2,813,39.791361,-104.926156,"5271 E 52nd Ave, Commerce City",OPERATIONAL,Denver
3,Sapp Bros Cafe,4.0,2,496,39.784888,-104.904559,"7120 E 49th Ave, Commerce City",OPERATIONAL,Denver
4,Café Mercato,4.4,2,370,39.719425,-104.896602,"7561 E Academy Blvd, Denver",OPERATIONAL,Denver
...,...,...,...,...,...,...,...,...,...
15,Massimo Ristorante,4.5,2,1171,41.823182,-71.422352,"134 Atwells Ave, Providence",OPERATIONAL,Providence
16,Pito Restaurant,4.5,1,418,41.796756,-71.413152,"1029 Broad St, Providence",OPERATIONAL,Providence
17,Mi Porcion Restaurant,4.6,0,21,41.823109,-71.450477,"319 Manton Ave, Providence",OPERATIONAL,Providence
18,Joe Marzilli's Old Canteen Italian Restaurant,4.6,2,515,41.823164,-71.421970,"120 Atwells Ave, Providence",OPERATIONAL,Providence
19,Rosalina,4.5,2,369,41.821988,-71.415743,"50 Aborn St, Providence",OPERATIONAL,Providence

In [43]:
result =  result.reset_index(drop=True) 
result =  result.reset_index(drop=True)

In [44]:
display(result)

,Restaurant,Rating,price_level,user_ratings_total,latitude,longitude,vicinity,Business Status,City
0,Rocky Mountain Sudanese's restaurant,4.9,0,86,39.739778,-104.869816,"10180 E Colfax Ave, Aurora",CLOSED_TEMPORARILY,Denver
1,FIFTY300 Restaurant,3.8,0,21,39.769882,-104.903991,"3801 Quebec St, Denver",OPERATIONAL,Denver
2,Ted'z Place Restaurant and Lounge,4.5,2,813,39.791361,-104.926156,"5271 E 52nd Ave, Commerce City",OPERATIONAL,Denver
3,Sapp Bros Cafe,4.0,2,496,39.784888,-104.904559,"7120 E 49th Ave, Commerce City",OPERATIONAL,Denver
4,Café Mercato,4.4,2,370,39.719425,-104.896602,"7561 E Academy Blvd, Denver",OPERATIONAL,Denver
...,...,...,...,...,...,...,...,...,...
195,Massimo Ristorante,4.5,2,1171,41.823182,-71.422352,"134 Atwells Ave, Providence",OPERATIONAL,Providence
196,Pito Restaurant,4.5,1,418,41.796756,-71.413152,"1029 Broad St, Providence",OPERATIONAL,Providence
197,Mi Porcion Restaurant,4.6,0,21,41.823109,-71.450477,"319 Manton Ave, Providence",OPERATIONAL,Providence
198,Joe Marzilli's Old Canteen Italian Restaurant,4.6,2,515,41.823164,-71.421970,"120 Atwells Ave, Providence",OPERATIONAL,Providence
199,Rosalina,4.5,2,369,41.821988,-71.415743,"50 Aborn St, Providence",OPERATIONAL,Providence

In [45]:
result =  result.drop("index",1)
display(result)

C:\Users\skdab\AppData\Local\Temp\ipykernel_21320\488719649.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  result =  result.drop("index",1)

KeyError: "['index'] not found in axis"