In [ ]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
from census import Census
from pprint import pprint
# import gmaps

# Google API Key
from config import gkey

# Incorporated citipy to determine latitude and longitude based on city 
from citipy import citipy

In [ ]:
# Import CSV and create a df for cities
us_cities_to_load="us_cities.csv"

us_cities_df=pd.read_csv(us_cities_to_load)

us_cities_df.head()

In [ ]:
us_cities_df=us_cities_df.rename(columns={'city':'City','state_name':'State','lat':'Latitude','lng':'Longitude',
                                          'population':'Population'})

us_cities_df.head()

In [4]:
us_cities_df.drop(us_cities_df.columns[[1,2,4,5,9,10,11,12,13,14,15,16]], axis=1, inplace=True)

us_cities_df.head()

          City       State  Latitude  Longitude  Population
0     New York    New York   40.6943   -73.9249    18713220
1  Los Angeles  California   34.1139  -118.4068    12750807
2      Chicago    Illinois   41.8373   -87.6862     8604203
3        Miami     Florida   25.7839   -80.2102     6445545
4       Dallas       Texas   32.7936   -96.7662     5743938

In [5]:
len(us_cities_df.index)

28338

In [6]:
us_cities_df.shape

(28338, 5)

In [7]:
us_cities_df=us_cities_df.loc[us_cities_df['Population']>=1000000]
us_cities_df.shape

(50, 5)

In [8]:
us_cities_df.head()

          City       State  Latitude  Longitude  Population
0     New York    New York   40.6943   -73.9249    18713220
1  Los Angeles  California   34.1139  -118.4068    12750807
2      Chicago    Illinois   41.8373   -87.6862     8604203
3        Miami     Florida   25.7839   -80.2102     6445545
4       Dallas       Texas   32.7936   -96.7662     5743938

In [9]:
us_cities_df["Restaurant Name"]=""
us_cities_df["Restaurant Type"]=""
us_cities_df["Rating"]=""
us_cities_df["Number of Reviews"]=""

us_cities_df.head()

,City,State,Latitude,Longitude,Population,Restaurant Name,Restaurant Type,Rating,Number of Reviews
0,New York,New York,40.6943,-73.9249,18713220,,,,
1,Los Angeles,California,34.1139,-118.4068,12750807,,,,
2,Chicago,Illinois,41.8373,-87.6862,8604203,,,,
3,Miami,Florida,25.7839,-80.2102,6445545,,,,
4,Dallas,Texas,32.7936,-96.7662,5743938,,,,

In [17]:
us_cities_df=us_cities_df.sample(10)

us_cities_df

,City,State,Latitude,Longitude,Population,Restaurant Name,Restaurant Type,Rating,Number of Reviews
17,Denver,Colorado,39.7621,-104.8759,2876625,,,,
2,Chicago,Illinois,41.8373,-87.6862,8604203,,,,
48,New Orleans,Louisiana,30.0687,-89.9288,1020886,,,,
42,Jacksonville,Florida,30.3322,-81.6749,1181496,,,,
46,Memphis,Tennessee,35.1046,-89.9773,1066967,,,,
47,Raleigh,North Carolina,35.8325,-78.6435,1038738,,,,
21,Baltimore,Maryland,39.3051,-76.6144,2106068,,,,
25,St. Louis,Missouri,38.6358,-90.2451,2024074,,,,
8,Washington,District of Columbia,38.9047,-77.0163,5379184,,,,
41,Providence,Rhode Island,41.8230,-71.4187,1203230,,,,

In [8]:
us_cities_df=us_cities_df.reset_index(drop=True)
us_cities_df

,City,city_ascii,state_id,State,county_fips,county_name,Latitude,Longitude,Population,density,source,military,incorporated,timezone,ranking,zips,id
0,Fairbury,Fairbury,IL,Illinois,17105,Livingston,40.7460,-88.5161,3647,781,polygon,False,True,America/Chicago,3,61739,1840008280
1,Chataignier,Chataignier,LA,Louisiana,22039,Evangeline,30.5696,-92.3168,360,221,polygon,False,True,America/Chicago,3,70524 70586,1840018204
2,Shenandoah,Shenandoah,PA,Pennsylvania,42107,Schuylkill,40.8167,-76.2004,17840,1216,polygon,False,True,America/New_York,3,17976,1840002779
3,Ramona,Ramona,OK,Oklahoma,40147,Washington,36.5322,-95.9260,545,271,polygon,False,True,America/Chicago,3,74061,1840021601
4,Geneva,Geneva,IA,Iowa,19069,Franklin,42.6748,-93.1298,153,144,polygon,False,True,America/Chicago,3,50633,1840008035
5,Eugene,Eugene,OR,Oregon,41039,Lane,44.0563,-123.1173,273439,1510,polygon,False,True,America/Los_Angeles,2,97405 97404 97401 97403 97402 97440,1840020007
6,Vansant,Vansant,VA,Virginia,51027,Buchanan,37.2358,-82.0960,241,30,polygon,False,False,America/New_York,3,24656 24614 24631,1840006430
7,New Fairview,New Fairview,TX,Texas,48497,Wise,33.1122,-97.4489,1544,38,polygon,False,True,America/Chicago,3,76078,1840020634
8,Animas,Animas,NM,New Mexico,35023,Hidalgo,31.9449,-108.8065,114,2,polygon,False,False,America/Denver,3,88020,1840025100
9,Fort Stewart,Fort Stewart,GA,Georgia,13179,Liberty,31.8818,-81.6105,9643,371,polygon,True,True,America/New_York,3,31315 31314,1840073839

In [ ]:
# Import csv file city_data_output.csv
output_csv_file = "us_cities_sample.csv"

# Create dataframe
us_cities = pd.read_csv(output_csv_file)

# View dataframe
us_cities